.horseracing-accordion .accordion-header .accordion-button.collapsed {
  border-radius: 4px;
}

.meeting-events {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(8, 1fr);
}

.secondButtons {
  padding: 16px;
}

.horse-racing-empty-state {
  background-color: var(--global-color-background-quaternary);
  min-height: 183px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.horceRacing-header {
  padding: 16px 16px 0;
}

@media screen and (max-width: 1024px) {
  .meeting-events {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .horceRacing-header {
    padding: 12px 12px 0;
    position: sticky;
    background-color: var(--global-color-table-header-secondary);
    top: 56px;
    width: 100%;
    z-index: 2;
  }
  .secondButtons {
    background-color: #25292D;
    padding-inline: 12px;
    border-bottom: 1px solid #414851
  }
}
