.horseracing-accordion .accordion-header .accordion-button.collapsed {
  border-radius: 4px;
}

.meeting-events {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(8, 1fr);
}

.events-filters {
  padding: 10px 12px;
}

.events-filters .arrow-wrapper.next {
  right: -12px;
  border-bottom-right-radius: 4px;
}

.events-filters .arrow-wrapper.previous {
  left: -12px;
  border-bottom-left-radius: 4px;
}

.events-filters svg {
  box-shadow: none;
  height: 20px;
  width: 20px;
  padding: 5px;
}

.events-filters .arrow-wrapper {
  background-color: var(--global-color-table-header-secondary);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.15);
  height: 50px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.horse-racing-empty-state {
  background-color: var(--global-color-background-quaternary);
  min-height: 183px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .meeting-events {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .events-filters {
    padding: 0;
  }

  .events-filters .arrow-wrapper {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }

  .events-filters svg {
    width: 26px;
    height: 26px;
    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.46);
  }

  .events-filters .arrow-wrapper.next {
    right: 0;
  }

  .events-filters .arrow-wrapper.previous {
    left: 0;
  }
}
