.selected-buttons {
  width: 100%;
}

.selected-buttons .nextSvg,
.selected-buttons .previousSvg {
  box-shadow: none;
}

.selected-buttons .selected-button {
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
  height: 30px;
  padding: 0 10px;
}

.active-button {
  color: var(--global-color-chip-cube-text) !important;
  background: var(--global-color-chip-cube-background) !important;
}

.selected-buttons.fullWidth {
  display: flex;
  justify-content: space-between;
}

button.selected-button֊fullWidth {
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
  height: 30px;
  width: calc(50% - 6px);
}
