.container {
  margin: 0 auto;
  max-width: 920px;
  margin-bottom: 100px;
}

.contactPage {
  background-color: #25292d;
  min-height: 66vh !important;
  padding-top: 170px;
}

.banner-text-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  color: white;
}

.banner-title-contact {
  font-style: normal;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 1rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  color: white;
}

.mb-4 {
  margin-bottom: 2.5rem !important;
}

.contact-title {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  text-align: right;
  color: white;
}

.contact-buttons {
  margin-bottom: 15px;
  width: 550px;
  height: 50px;
  color: #bcbfc2;
  background: var(--global-color-background-quaternary);
  outline: none;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--global-color-background-quaternary) inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #bcbfc2 !important;
}

.submit-button {
  border-radius: 10px;
  width: 550px;
  height: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-top: -7px;
}

.social-media-title {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1rem;
  color: white;
  display: flex;
  align-items: flex-start;
}

.social-media-accounts {
  display: flex;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  margin-top: 0.75rem;
}

.social-media-accounts img {
  width: 1.5rem;
  height: 1.5rem;
}

.accounts {
  margin-left: 1rem;
  text-decoration: none;
  color: white;
}

.social-form {
  flex-direction: column;
}

.social-media-form {
  padding-top: 3rem;
}

input,
select,
textarea {
  text-indent: 10px;
  opacity: 1;
}

input::placeholder {
  margin-left: 1rem;
  color: #bcbfc2;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-top: 2px;
}

input:focus::placeholder {
  color: transparent;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow: hidden;
}

.contact-buttons.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background-position: calc(100% - 12px) center !important;
  background-repeat: no-repeat;
}

textarea::placeholder {
  color: #bcbfc2;
  text-indent: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

textarea:focus::placeholder {
  opacity: 0;
}

#message::placeholder {
  padding-top: 7px;
}

#message {
  height: 120px;
}

.submit-message {
  margin-top: 2rem;
  font-size: 20px;
  text-align: center;
  color: white;
}

.submit-icon {
  width: 100px;
  margin: auto;
}

p.accounts {
  margin-bottom: 0 !important;
  margin-top: 0.25rem !important;
}

.social-form {
  padding-right: 1rem !important;
  padding-left: 0;
}

#contact-banner {
}

.submit-button-span {
  display: flex;
}

.contactUs-a {
  margin-top: 3px;
}

.contactUs-a-linkedin {
  margin-top: 5px;
}

.contactUs-a-phone {
  margin-top: 1px;
}

.contactUs-a-location {
  margin-top: 2px;
}

@media screen and (max-width: 992px) {
  .contactPage {
    padding-top: 90px;
    max-width: 920px;
  }

  .container {
    max-width: 95%;
  }

  #formInputs {
    max-width: 100%;
  }

  .banner-text-contact {
    line-height: 0.7rem;
    display: flex;
    align-items: center;
    color: white;
    width: 320px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }

  .banner-title-contact {
    font-size: 24px;
  }

  .banner-text-contact {
    width: 100%;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  .btn-group-vertical {
    width: 70%;
  }

  .contact-buttons {
    width: 100%;
  }

  .submit-button-span {
    width: 100%;
  }

  .social-form {
    padding-top: 30px;
  }

  .social-media-form {
    padding-top: 25px !important;
  }
}

@media screen and (max-width: 700px) {
}

@media (min-width: 539px) and (max-width: 721px) {
  .contactPage {
    padding-top: 90px;
  }
  form {
    display: flex;
    flex-direction: column;
  }

  .banner-text-contact {
    width: 100%;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  .btn-group-vertical {
    width: 100%;
  }
}
#contact-banner {
  margin-bottom: 3rem;
}
.submit-button-span {
  display: flex;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .col-md-8.contact-form,
  .contact-buttons,
  .submit-button-span {
    width: 100%;
  }

  .social-form {
    padding-top: 30px;
  }

  .social-media-form {
    padding-top: 25px !important;
  }
}

@media screen and (max-width: 470px) {
  .contactPage {
    padding-top: 0px;
    max-width: 920px;
  }

  .container {
    max-width: 95%;
  }
  .social-form,
  .submit-button-span {
  }
  .col-md-4.social-form {
    margin-bottom: 1.5rem;
  }

  .contact-buttons {
    width: 100%;
  }

  .submit-button-span {
    width: 100%;
  }

  .social-form {
    padding-top: 30px;
    padding-left: 12px;
  }

  .social-media-form {
    padding-top: 25px !important;
  }
}

@media screen and (max-width: 400px) {
  .contactPage {
    padding-top: 90px;
    max-width: 920px;
  }

  .container {
    max-width: 95%;
  }

  .contact-form {
    width: 100%;
    max-width: 920px;
  }

  #formInputs {
    max-width: 100%;
  }

  #contact-banner {
    padding-bottom: 30px !important;
  }

  .banner-title-contact {
    font-size: 24px;
  }

  .banner-text-contact {
    width: 100%;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  .btn-group-vertical {
    width: 100%;
  }

  .contact-buttons {
    width: 100%;
  }

  .submit-button-span {
    width: 100%;
  }

  .social-form {
    padding-top: 30px;
  }

  .social-media-form {
    padding-top: 25px !important;
  }
}
