.price-history .recharts-wrapper {
  position: absolute !important;
}

.price-history path {
  stroke: var(--global-color-primary);
}

.price-history circle {
  stroke: var(--global-color-primary);
  fill: var(--global-color-primary);
}

.price-history text {
  fill: var(--global-color-text-primary);
}

.racecardHeader {
  padding-bottom: 10px;
  border-radius: 6px;
}

.race-table {
  border-radius: 6px;
  overflow: hidden;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-top: 20px;
}

.race-live-stream {
  width: 100%;
  height: 334px;
}

.race-table-head {
  background: var(--global-color-background-secondary);
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 16px;
}

.race-table-head-items-container {
  overflow-x: auto;
}

.race-table-head-items {
  height: 32px;
  background: var(--global-color-background-quaternary);
  border-bottom: 1px solid var(--global-color-background-quaternary);
  min-width: 650px;
}

.race-table-row {
  min-height: 44px;
  background: var(--global-color-background-quinary);
  min-width: 650px;
}

.race-table-row > :not(:last-child) {
  border-right: 1px solid var(--global-color-background-quaternary);
}

.race-table-row-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-bottom: 1px solid var(--global-color-background-quaternary);
}

.silk {
  height: 14px;
  width: 18px;
}

.racing-item-runner {
  border-bottom: 1px solid var(--global-color-background-quaternary);
  border-right: 1px solid var(--global-color-background-quaternary);
}

.runner {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 100%;
  padding-left: 12px;
}

.runner-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--global-color-gold-button);
  cursor: pointer;
  height: 100%;
  width: 100%;
  transition: 0.3s ease;
}

.price.disable {
  pointer-events: none;
  background: var(--global-color-text-secondary);
}

.price.active {
  background: var(--global-color-primary);
  color: var(--global-color-text-primary);
}

.weights {
  color: var(--global-color-gold-button);
}

.price .matchOdds {
  font-weight: 400;
  font-size: 12px;
}

.price-history {
  display: flex;
  align-items: flex-start;
  padding: 5px 10px;
  position: relative;
  height: 100%;
  width: 100%;
}

.price:hover {
  background: var(--global-color-primary);
  color: var(--global-color-text-primary);
}

.race-table-head-items,
.race-table-row {
  display: grid;
  align-items: center;
  justify-content: center;
  color: var(--global-color-text-primary);
  text-align: center;
}

.race-table-row.disabled {
  filter: blur(0.4px);
  pointer-events: none;
}

.race-table-row.disabled .race-table-row-item {
  opacity: 0.4;
}

.race-table-head-title {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: normal;
  color: var(--global-color-text-primary);
}

.race-table-head-title.row-title {
  font-weight: 400;
}

.race-table-head-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
}

.race-table-head-subtitle-event {
  color: var(--global-color-gold-button);
  margin-right: 10px;
}
.race-table-head-subtitle-description {
  color: #acacac;
}

.race-date {
  color: var(--global-color-text-primary);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.race-table-non-runner {
  display: flex;
  align-items: center;
  height: 32px;
  border-right: 1px solid var(--global-color-background-quaternary);
  background: var(--global-color-background-quaternary);
  color: var(--global-color-text-primary);
  padding-left: 16px;
  min-width: 650px;
}

.race-status {
  display: flex;
  align-items: center;
  width: 100%;
  height: 32px;
  padding: 0 16px;
  background-color: var(--global-color-secondary);
  color: var(--global-color-text-primary);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}

.finish-num {
  font-size: 20px;
}
