.bet-slip-container {
  background: var(--global-color-shade-dark);
  padding: 2px;
  position: absolute;
  width: 307px;
  top: 74px;
  right: 0;
  height: calc(100% - 74px);
  overflow: auto;
  transition: 0.5s;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
}

.selected-bets {
  overflow: auto;
  height: calc(100% - 210px);
}
.ContainerOfMultipleBets {
  display: flex;
}
.slip-bets-title {
  background: var(--global-color-shade6);
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin-right: 2px;
  height: 35px;
  align-items: center;
  margin-bottom: 1px;
  padding: 1px;
}
.betsStyle {
  line-height: 18px;
  margin-left: 5px;
  font-size: 14px;
  align-items: center;
}
.bet-slip-description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #404246;
  color: #adadad;
  font-size: 14px;
}
.my-bets-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  height: 35px;
}
.buttons-of-bets {
  width: 25%;
  background: #292929;
  color: #adadad;
  font-size: 12px;
  padding: 12px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #404246 !important;
}
.selected-myBets {
  color: #fff;
  background-color: #404246;
}
.empty-slip {
  display: flex;
  flex-direction: column;
  font-family: var(--global-font-medium);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  max-width: 171px;
  margin: 35px auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.empty-slip-text.mb {
  margin-bottom: 15px;
}

.empty-slip-text.mt {
  margin-top: 15px;
}

.remove-all-bets {
  background: var(--global-color-shade7);
  color: var(--global-color-text-primary);
  padding: 9px 13px;
  cursor: pointer;
  display: flex;
  margin-top: 2px;
  margin-right: 2px;
  align-items: flex-start;
}
.remove-text {
  margin-left: 7px;
  display: inline-block;
  height: 15px;
  line-height: 18px;
}

.selected-bet-container {
  background: var(--global-color-shade6);
  padding: 12px;
  margin-right: 2px;
  margin-top: 2px;
}
.selectMultipleBets {
  display: flex;
  justify-content: space-between;
}

.selected-market-selection {
  margin-left: 8px;
}
.selected-bet-body {
  padding-left: 20px;
  padding-right: 5px;
}

.selected-market {
  display: block;
  color: #dbb86d;
  font-size: 14px;
}

.selected-match {
  display: block;
  font-family: var(--global-font-regular);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 8px;
}
.containerOfMultiBets {
  border-left: 3px solid var(--global-color-text-secondary);
  background: var(--global-color-shade3);
}
.betAmountMultiBets {
  max-width: 160px;
}

.slip-input {
  background: var(--global-color-text-primary);
  border-radius: 2px 0 0 2px;
  border: none;
  width: 80%;
  font-family: var(--global-font-regular);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.styleOfReturnValues {
  width: 88px;
}
.selected-bet-title {
  font-size: 14px;
}
.bet-amount-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 35px;
}
.showOrHideMultiples {
  text-align: center;
  height: 24px;
  background-color: var(--global-color-shade6);
  margin-top: 2px;
  cursor: pointer;
  margin-right: 1px;
}
.showOrHideTextOfMultiples {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin-right: 9px;
}

.selected-bet-odds {
  background: var(--global-color-tertiary);
  border-radius: 0px 2px 2px 0px;
  padding: 7px 11px;
  display: flex;
  align-items: center;
}

.slip-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  gap: 70px;
}

.optional-values {
  display: flex;
}

.optional-value {
  background: #a59a81;
  border-radius: 2px;
  margin-right: 4px;
  padding: 2px 4px;
  cursor: pointer;
  font-family: var(--global-font-medium);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: var(--global-color-shade6);
}
.styleOfReturnValues {
  font-family: var(--global-font-regular);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.styleOfReturnedValuesInline {
  width: 120px;
  text-align: right;
}
.totals-container {
  margin-top: 2px;
  padding: 6px 16px;
  background: var(--global-color-shade7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.place-bet-button {
  border-radius: 0px 0px 6px 6px;
  width: 100%;
  margin-top: 2px;
  height: 50px;
  color: #fff;
}

@media (max-width: 991px) {
  .slips-bets-title-container {
    padding: 9px 13px;
  }
  .bet-slip-container {
    top: 0;
    width: 100%;
    z-index: 10002;
    height: 100%;
    overflow: hidden;
    padding: 0;
  }
  .selected-bets {
    overflow: auto;
    height: calc(100% - 210px);
  }
  .place-bet-button {
    border-radius: 0;
  }
  .slip-bets-title {
    justify-content: space-between;
    align-items: center;
  }

  .betsClose {
    margin-left: auto;
  }

  .slip-input {
    width: 100%;
  }
}
.numberOfBetsStyle {
  color: var(--global-color-shade6);
  background-color: #fff;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 10px;
}

.betslip-add {
  height: 305px;
  width: 301px;
  margin-bottom: 4px;
}
