.information-card {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 48px;
  background-color: var(--global-color-background-quaternary);
  padding: 6px 16px;
  gap: 16px;
  border-radius: 10px;
}

.information-image {
  height: 22px;
  width: 22px;
}

.information-text {
  font-size: 12px;
  font-weight: 400;
  color: var(--global-color-text-primary);
  line-height: 1.33;
}
