.link-in-bonuses-promotions {
  background-color: var(--global-color-text-secondary);
  position: absolute;
  right: 56px;
  width: 53px;
  top: 24px;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.menu-link-promotions {
  height: 40px;
  border-radius: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background-color: #353a40;
  color: #ffffff;
  padding: 12px 10px;
  font-family: var(--bs-body-font-family);
}
.selected-bonus button {
  border: 1px solid white !important;
  padding: 11px 9px;
  background: #45494f;
}
.promotions-container {
  position: relative;
  color: #ffffff;
  display: flex;
  height: 68px;
  background: #353a40;
  width: 560px;
  margin-top: 10px;
  align-items: center;
  border-radius: 4px;
}
.promotions-container:first-of-type {
  margin-top: 24px;
}
.promotion-duration {
  width: 98px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: rgba(14, 183, 236, 0.76);
  margin-bottom: 0px;
  position: absolute;
  right: 16px;
}
.available-promotion {
  background-color: var(--global-color-text-secondary);
}
.promotion-info {
  display: flex;
}
.promotion-details {
  line-height: 100%;
  height: 64px;
}
.promotion-image {
  margin-left: 16px;
  margin-right: 12px;
}
.promotion-amount {
  margin-left: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}
.promotion-value {
  font-size: 14px;
}
.promotion-valid {
  font-size: 14px;
}
.promotion-competition {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 8px;
  margin-top: 12px;
}
.promotion-expiring {
  color: #e22727;
}
.promotion-title {
  display: flex;
  gap: 10px;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 70px;
  align-items: center;
  overflow-y: auto;
  padding-right: 20px;
}
.bonuses-container-menu {
  overflow: auto;
  width: calc(100vw - 448px);
}
.promotion-title {
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.promotion-title::-webkit-scrollbar {
  display: none;
}

.bonuses-container-menu::-webkit-scrollbar {
  display: none;
}
.promotion-values-container {
  display: flex;
}
@media screen and (max-width: 991px) {
  .bonuses-container-menu {
    width: 100%;
  }
  .promotions-container {
    width: 100%;
    height: 81px;
    margin-top: 6px;
  }
  .promotion-info {
    flex-direction: column;
  }
  .promotion-amount,
  .promotion-competition,
  .promotion-valid,
  .promotion-value {
    margin-bottom: 0;
    font-size: 11px;
  }
  .promotion-amount {
    margin-left: 0;
  }
  .promotion-competition {
    margin-top: 5px;
    margin-bottom: 6px;
  }
  .promotion-duration {
    width: 72px;
    font-size: 10px;
    height: 22px;
  }
}
