.sports-table-sports {
  display: flex;
  flex-direction: column;
  gap: 1px;
  overflow: hidden;
  margin: 16px;
  border-radius: 8px;
}

.sport-accordion > .custom-accordion-header {
  font-weight: 600;
}

.sports-table-sports > .accordion {
  margin-bottom: 0;
}

.sports-table-sports > .accordion-special-container {
  border-radius: 8px;
}

.sports-table-sports .accordion-collapse {
  overflow: hidden;
}

.sports-table-sports .accordion-body .accordion-button:after {
  transform: rotate(95deg);
}

.sports-table-sports .accordion-body .accordion-button:not(.collapsed)::after {
  transform: rotate(180deg);
}
