.chat-send-btn {
  background: transparent;
  border: none;
  padding: 0;
}

.typing-area-form {
  display: flex;
  flex-shrink: 0;
  border-top: 1px solid var(--global-color-trader-chat-primary);
  position: relative;
  height: auto;
  width: 100%;
  min-height: 64px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 9px 16px;
}

.chat-textarea {
  resize: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  border: none;
  max-height: 120px;
  width: 100%;
  padding: 0;
  color: var(--global-color-trader-chat-secondary-text);
}

.chat-textarea:disabled {
  background-color: transparent;
}

.chat-textarea::placeholder {
  font-size: 14px;
  line-height: 16px;
}

.chat-item-right {
  display: flex;
  justify-content: flex-end;
}

.chat-item-left {
  display: flex;
  justify-content: flex-start;
}

.chat-arrow {
  transform: rotate(90deg);
}

.ChatWrapper {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  width: 70px;
  box-shadow: -2px -2px 4px 0px #00000040;
  transition: 0.2s ease;
}

.ChatWrapper.isOpen {
  width: 240px;
}

.ChatBottomWrapper {
  display: flex;
  cursor: pointer;
  width: 100%;
  height: 59px;
  background: var(--global-color-sidebar-selection);
  padding: 15px 26px 15px 18px;
  justify-content: space-between;
  align-items: center;
}

.ChatBottomSubWrapper {
  display: flex;
  gap: 12px;
}

.ChatIconStyled {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.ChatBox {
  width: 372px;
  height: 563px;
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;
  background: var(--global-color-trader-chat-background);
  font-weight: 400;
  font-size: 16px;
  border-radius: 8px 8px 0px 0px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 73px;
  border: 1px solid var(--global-color-trader-chat-primary);
}

.ChatBox.isOpen {
  left: 243px;
}

.ChatHeader {
  width: 100%;
  height: 58px;
  background: var(--global-color-trader-chat-primary);
  display: flex;
  justify-content: space-between;
  padding: 19px 18px;
  font-weight: 500;
  font-size: 14px;
  color: var(--global-color-trader-chat-primary-text);
}

.ChatHeader > span {
  cursor: pointer;
}

.ChattingBlock {
  padding: 0 16px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  gap: 14px;
}

.ChatTitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: var(--global-color-sidebar-text);
}

.NumberNewMessages {
  position: absolute;
  right: 10px;
  bottom: 35px;
  width: 18px;
  height: 18px;
  background: var(--global-color-trader-chat-background);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: var(--global-color-trader-chat-primary);
}

.NumberNewMessages.isOpen {
  right: 54px;
  bottom: 21px;
  background: var(--global-color-sidebar-chat_icon-background);
  color: var(--global-color-trader-chat-primary-text);
}

.ChatMessage {
  max-width: 286px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--global-color-trader-chat-bubble1-text);
  padding: 6px;
  overflow: hidden;
  display: flex;
  text-overflow: ellipsis;
  margin-bottom: 20px;
  background: var(--global-color-trader-chat-bubble1);
  white-space: pre-line;
  border-radius: 6px;
}

.ChatMessage.isRight {
  color: var(--global-color-trader-chat-bubble2-text);
  background: var(--global-color-trader-chat-bubble2);
}

.MessagesBlock {
  height: 100%;
  overflow: scroll;
}

.MessagesBlock > :first-child {
  margin-top: 14px;
}

.UnLoggedMessage {
  margin: auto 27px;
  background: #efece7;
  border-radius: 6px;
  height: 136px;
  display: grid;
  place-items: center;
  white-space: initial;
}

.UnLoggedMessage p {
  margin: 0;
  width: 180px;
  text-align: center;
  color: var(--global-color-trader-chat-secondary-text);
  font-size: 14px;
  line-height: 24px;
}

.UnLoggedMessage p a {
  color: var(--global-color-trader-chat-primary);
  text-decoration: underline !important;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .typing-area-form {
    width: 100%;
    min-height: 110px;
  }

  .chat-arrow {
    display: none;
  }

  .ChatWrapper {
    width: auto;
    position: static;
    box-shadow: none;
  }

  .ChatBottomWrapper {
    position: relative;
    padding: 0;
    border-radius: 50%;
    height: 32px;
    width: 32px;
  }

  .ChatBox {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    width: auto;
    z-index: 1;
    max-height: unset;
    border-radius: 0;
    margin-bottom: 0;
  }

  .ChatHeader {
    border-radius: 0;
  }

  .NumberNewMessages {
    top: -4px;
    right: -6px;
  }

  .MessagesBlock {
    height: calc(100vh - 163px);
  }
}
