.notificationsSub {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: var(--global-color-settings-text_primary);
}
.form-check-input {
  width: 60px !important;
  height: 30px;
}
.form-check-label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  color: var(--global-color-settings-text_primary);
  margin-left: 2.5rem;
  padding-bottom: 0.5rem;
}
.divider {
  width: 100%;
  margin-left: 0;
  margin-right: 49px;
  border: 1px solid var(--global-color-settings-shade_primary);
  margin-bottom: 19px;
}
#flexSwitchCheckChecked {
  box-shadow: none;
}
.form-switch .form-check-input {
  transition: 0.35s ease-in-out;
}
.ToggleLabelButton {
  margin-top: 12px !important;
}
.depositLimitContainer {
  margin-bottom: 17px;
}

.MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
  background-color: var(--global-color-settings-text_primary) !important;
}
.depositLimitContainer
  div
  span
  .MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  background-color: var(--global-color-notification-alert_success) !important;
}
