.newPasswordLabel {
  color: white;
  padding: 10px;
  display: flex;
}
.newPassChecks {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #bcbfc2;
}
.dot {
  background: #bcbfc2;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
}
.valid {
  background: var(--global-color-bullet-point);
}
.showPasswordIcon {
  position: absolute;
  top: 25% !important;
  right: 5%;
}
.showPasswordIconBtm {
  position: absolute;
  top: 51%;
  right: 5%;
}
