p {
  color: var(--global-color-settings-text-primary);
}

.chartDescription {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0;
  margin: 0;
}

.chartDescription > li {
  display: flex;
  align-items: center;
  gap: 6px;
  list-style: none;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
}

.chartInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.availableDot {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--global-color-settings-shade-icons-primary);
}

.usedDot {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--global-color-osettings-shade-icons-secondary);
}

.limitDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 294px;
  background-color: var(--global-color-settings-shade-secondary);
  padding: 20px;
  border-radius: 4px;
  height: 128px;
}

.limitChartTitle {
  font-size: 14px;
  font-weight: 500;
}

.limitChart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.chartPercentOuter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 76px;
  border-radius: 50%;
  background-color: var(--global-color-background-primary);
}

.limitChartPercentWrapper {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 76px;
  width: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--global-color-settings-shade-secondary);
  border-radius: 50%;
}

.limitChartPercent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: var(--global-color-osettings-shade-icons-secondary);
}

.chartPercent {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  color: var(--global-color-settings-text-primary);
}

.pieChart {
  position: relative;
}

.pieChart svg {
  background: var(--global-color-settings-shade-icons-primary);
  border-radius: 50%;
}

.pieChart path {
  stroke: transparent;
  border-radius: 5px;
}

.pieChart path[name="start"] {
  fill: var(--global-color-osettings-shade-icons-secondary);
}

.pieChart path[name="end"] {
  fill: var(--global-color-settings-shade-icons-primary);
}
