.monthData {
  background: var(--global-color-settings-shade_tenary);
  border-radius: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 125px;
  height: 40px;
  color: var(--global-color-main-text_primary);
  margin-right: 1rem;
  padding: 1rem;
}

.monthsFilter {
  display: flex;
  width: 100%;
  flex-direction: row;
  overflow-x: scroll !important;
  white-space: nowrap;
  overflow-y: hidden;
}

.monthsFilter {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.monthsFilter::-webkit-scrollbar {
  display: none;
}

.transactionCardWrapper {
  max-width: 454px;
  width: 100%;
  background: var(--global-color-settings-shade_tenary);
  border-radius: 4px;
  padding-left: 1rem;
  position: relative;
  justify-content: space-between;
  align-items: center;
  min-height: 67px;
  padding: 8px 14px;
  gap: 24px;
}

.cursor-pointer {
  cursor: pointer;
}

.profile-modal {
  background: var(--global-color-settings-shade_tenary);
}

.transactionCardWrapper img {
  width: 38px;
}

.transactionCard {
  display: flex;
  width: 100%;
}

.transaction-date {
  display: flex;
  min-width: 220px;
  width: 220px;
  justify-content: space-between;
  height: 28px;
  align-items: center;
}

.transaction-status {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height: 100%;
  width: 87px;
  height: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: var(--global-color-main-text_primary);
  border-radius: 4px;
  line-height: 1;
}

.transaction-status span::first-letter {
  text-transform: uppercase;
}

.Pending {
  background-color: var(--global-color-header-text_selected);
}

.Expired {
  background-color: var(--global-color-settings-button_grey);
}
.Successful {
  background-color: var(--global-color-settings-button_green);
}
.Rejected {
  background-color: var(--global-color-settings-text_required);
}

.transaction-item-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 47px;
  width: 100%;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.transaction-item-title.title-centered {
  justify-content: center;
}

.placed,
.typeDate {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: var(--global-color-settings-text_primary);
}

.placed span {
  display: block;
}

.placed .subtitle {
  font-size: 12px;
  font-weight: 500;
  margin-top: 6px;
}

.typeSubtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: var(--global-color-settings-text_primary);
  display: flex;
}

.amount-wrapper .placed {
  text-align: right;
}

.amount-wrapper {
  width: 90px;
  min-width: 90px;
  padding-right: 0.25rem;
}

.typeDate {
  color: var(--global-color-settings-text_primary);
  display: grid;
  justify-content: flex-end;
  white-space: nowrap;
}

.depositSum {
  font-size: 34px;
  line-height: 24px;
}

.valuesDiv {
  padding-top: 10px;
  display: flex;
}

.profitValue {
  position: absolute;
  top: 0;
  right: 16px;
  font-weight: 600;
}

.betIcon {
  width: 20px;
  height: 20px;
}

.max-container {
  height: 100%;
  overflow: auto;
  overflow-x: hidden !important;
  padding-bottom: 30px;
}

.historyBlock {
  padding-top: 13px;
}

@media screen and (max-width: 1024px) {
  .betOdd {
    padding-left: unset;
  }

  .transactionCardWrapper {
    max-width: 100%;
  }

  .profitValue {
    width: auto;
  }

  .valuesDiv {
    display: none;
  }

  .linearTransaction {
    display: block;
  }
}

.swiper-wrapper {
  width: auto !important;
}

.swiper-pointer-events {
  touch-action: pan-x !important;
}

.spinnerContent {
  background: none;
  max-width: 35rem;
  width: 100%;
}

.spinnerStyle .spiner {
  display: flex;
  justify-content: center;
}

.spinnerPadding {
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 35rem;
  width: 100%;
}

.transactionDetailsContent {
  margin-bottom: 150px;
}

.transactionHistory {
  padding-right: 40px;
  overflow: auto;
  height: calc(100vh - 74px);
}

.predictionDates {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: var(--global-color-settings-text_primary);
}
.transaction-details-description {
  width: 327px;
  text-align: center;
}
.transactionDetailsRow {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;
}
.transactionDetailsHeader {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}
.transactionDetailsValue {
  color: var(--global-color-main-icon_secondary);
}
.transactionDetailsContainer {
  width: 80%;
  color: #fff;
}

@media (max-width: 1024px) {
  .transactionDetailsContent {
    margin-bottom: 0;
  }

  .transactionHistory {
    padding-right: 0;
    height: calc(100vh - 56px);
  }
}
