.monthData {
  background: var(--global-color-secondary);
  border-radius: 40px;
  font-family: var(--global-font-medium);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 125px;
  height: 40px;
  color: var(--global-color-text-primary);
  margin-right: 1rem;
  padding: 1rem;
}
.monthsFilter {
  display: flex;
  width: 100%;
  flex-direction: row;
  overflow-x: scroll !important;
  white-space: nowrap;
  overflow-y: hidden;
}

.monthsFilter {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.monthsFilter::-webkit-scrollbar {
  display: none;
}
.transactionCard {
  max-width: 35rem;
  width: 100%;
  background: var(--global-color-secondary);
  border-radius: 4px;
  padding-left: 1rem;
  position: relative;
  height: 4.5rem;
}
.transactionCard img {
  width: 45px;
}
.placed,
.typeDate {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--global-color-text-primary);
}
.typeDate {
  font-family: var(--global-font-regular);
  color: #d3d3d3;
  padding-right: 0.25rem;
}
.placed {
  font-family: var(--global-font-bold);
}
.depositSum {
  font-size: 34px;
  line-height: 24px;
}
.valuesDiv {
  display: flex;
}
.profitValue {
  position: absolute;
  top: 10px;
  right: 16px;
}
.betDate {
  padding-left: 1rem;
}
.betIcon {
  width: 20px;
  height: 20px;
}
.max-container {
  height: 100%;
  overflow: auto;
  overflow-x: hidden !important;
  padding-bottom: 30px;
}

@media screen and (max-width: 991px) {
  .betOdd {
    padding-left: unset;
  }
  .profitValue {
    width: auto;
  }
  .valuesDiv {
    display: none;
  }
  .typeDate {
    display: grid;
  }
  .betDate {
    padding-left: unset;
  }

  .linearTransaction{
    display: block;
  }
}

.swiper-wrapper {
  width: auto !important;
}
.swiper-pointer-events {
  touch-action: pan-x !important;
}

.spinnerContent {
  background: none;
  max-width: 35rem;
  width: 100%;
}
.spinnerStyle {
  text-align: center;
}
.spinnerPadding {
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 35rem;
  width: 100%;
}
