.betslip-odds {
  background: var(--global-color-betslip-price_input);
  color: var(--global-color-betslip-text_primary);
  padding: 7px 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  transition: var(--global-transition);
  min-width: 60px;
  width: 100%;
  max-width: max-content;
}

.betslip-odds-inner-content.price-changes {
  pointer-events: none;
}

.betslip-odds-inner-content.price-changes svg path {
  fill: var(--global-color-betslip-text_tertiary);
}

.betslip-odds.suspended {
  background-color: var(--global-color-betslip-price_suspended);
  color: var(--global-color-betslip-text_secondary);
  pointer-events: none;
}

.betslip-odds.drifting {
  color: var(--global-color-betslip-text_tertiary);
  background-color: var(--global-color-betslip-price_drift);
}

.betslip-odds.shortening {
  background-color: var(--global-color-betslip-price_shorten);
  color: var(--global-color-betslip-text_tertiary);
}

.betslip-odds .matchOdds {
  color: var(--global-color-main-text_primary);
}

.betslip-odds.drifting svg path,
.betslip-odds.shortening svg path {
  fill: var(--global-color-betslip-text_tertiary);
}
