.netDepositValue {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 42px;
  color: var(--global-color-text-primary);
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.selectField {
  position: relative;
}
.arrowDeposit.net {
  position: absolute;
  right: 15%;
  top: 45%;
}
.max-width-container {
  max-width: 454px;
}
@media screen and (max-width: 991px) {
  .modalCenterContent {
    align-items: center !important;
  }
}
.depositText {
  color: var(--global-color-text-primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0px;
}
.depositTextDisplay {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: var(--global-color-text-primary);
}

.netShow{
  display: block;
}