.matchCard {
  width: 100%;
  background: var(--global-color-table-header-secondary);
  display: grid;
  grid-template-columns: 1.3fr 3.5fr 2fr;
  border-bottom: 1px solid var(--global-color-table-grid-border);
  margin: 0;
  font-style: normal;
  font-weight: 400;
  min-height: 44px;
}

.matchCard.selections {
  min-height: 32px;
  height: 100%;
  color: var(--global-color-table-text-primary);
}

.matchTeam {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: var(--global-color-table-text-secondary);
  flex: 1 1;
  justify-content: flex-start;
  text-align: start;
}

.matchCardDate {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
}

.matchCardDate.type {
  width: 100%;
  justify-content: flex-start;
  padding-left: 12px;
}

.more-markets {
  border-left: 1px solid var(--global-color-table-grid-border);
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-marketsTemp {
  border-left: 1px solid var(--global-color-table-grid-border);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.matchResult {
  min-width: 64px;
  height: 24px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border-radius: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  color: var(--global-color-table-text-odds-primary);
  background: var(--global-color-table-text-vs-background);
}

.matchOdds {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  width: 100%;
  line-height: 100%;
  text-align: center;
  color: var(--global-color-table-text-odds-primary);
  cursor: pointer;
  transition: background-color var(--global-transition),
    color var(--global-transition);
}

.animationBlock {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: background-color 2.5s ease;
}

.rowBetsOdds {
  background: var(--global-color-table-grid-background);
}

.rowOdds {
  background: var(--global-color-table-header-secondary);
}

.matchOdds.selectionPriceBoost {
  background: var(--global-color-price-boost);
}

.matchOdds:hover .priceBoostIcon {
  fill: var(--global-color-table-text-secondary);
}

.matchOdds.suspended {
  background-color: var(--global-color-price-suspended);
  color: var(--global-color-price-text);
  pointer-events: none;
}

.priceBoost {
  color: var(--global-color-odds-shade-secondary);
  font-size: 10px;
  font-weight: 600;
  position: absolute;
  left: 3px;
  bottom: 2px;
  pointer-events: none;
}

.priceBoostIcon {
  pointer-events: none;
  fill: var(--global-color-table-text-odds-primary);
  margin-left: 4px;
}

.priceBoostIcon.active {
  fill: var(--global-color-table-text-secondary);
}

.tooltip {
  font-family: inherit;
  position: relative;
}

.tooltip .tooltip-inner {
  position: absolute;
  left: auto;
  right: -52px;
  top: -3px;
  background-color: var(--global-color-main-background_tertiary);
  border-radius: 5px;
  padding: 5px 7px;
}

.tooltip .tooltip-arrow::before {
  border-bottom-color: var(--global-color-main-background_tertiary);
  border-width: 10px;
  bottom: 2px;
  left: auto;
  right: -32px;
}

.matchOddsTipContent {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  font-weight: 400;
}

.animationBlock.driftingAnimation {
  animation: drifting 5s ease;
  /* background-color: var(--global-color-price-drifting); */
  /* color: var(--global-color-table-text-secondary); */
}

.matchOdds.animationBlock-susp .animationBlock {
  background-color: inherit !important;
  color: inherit !important;
}

.matchOdds.drifting::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
  border-right: 10px solid var(--global-color-price-drifting);
  border-left: 10px solid transparent;
  border-bottom: 10px solid var(--global-color-price-drifting);
  border-top: 10px solid transparent;
  background-color: transparent;
}

.animationBlock.shorteningAnimation {
  animation: shortening 5s ease;
  /* background-color: var(--global-color-price-shortening); */
  /* color: var(--global-color-table-text-secondary); */
}

.matchOdds.shortening::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  border-right: 10px solid var(--global-color-price-shortening);
  border-left: 10px solid transparent;
  border-bottom: 10px solid var(--global-color-price-shortening);
  border-top: 10px solid transparent;
  background-color: transparent;
}

.matchOdds.betslip {
  transition: 0.5s;
}

.matchDetails {
  display: flex;
  flex-direction: row;
}

.matchDetails .sports-body {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 667px;
}

.matchDetails .sports-body .markets-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.matchDetails .sports-body .markets-container .markets-container-content {
  flex: 1;
  margin-top: 20px;
}

.matchDetails
  .sports-body
  .markets-container
  .markets-container-content.markets-container-content-empty {
  display: flex;
}

@keyframes drifting {
  0% {
  }

  25% {
    background-color: var(--global-color-price-drifting);
    color: var(--global-color-table-text-secondary);
  }

  75% {
    background-color: var(--global-color-price-drifting);
    color: var(--global-color-table-text-secondary);
  }

  100% {
  }
}

@keyframes shortening {
  0% {
  }

  25% {
    background-color: var(--global-color-price-shortening);
    color: var(--global-color-table-text-secondary);
  }

  75% {
    background-color: var(--global-color-price-shortening);
    color: var(--global-color-table-text-secondary);
  }

  100% {
  }
}

.matchOddsContainerFootball {
  display: flex;
  position: relative;
}

.activeOdd {
  background: var(--global-color-table-text-odds-primary);
}

.odds {
  display: flex;
  justify-content: flex-end;
  padding-right: 0;
  padding-left: 0;
  height: 100%;
}

.odds > * {
  border-left: 1px solid var(--global-color-table-grid-border);
}

.iceHockeyOdds {
  height: 100%;
}

.footballOdds {
  display: flex;
  justify-content: space-between;
  padding-right: unset;
  padding-left: 0;
}

.inActiveOdd {
  color: var(--global-color-main-text_primary);
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.lastOdd {
  border-radius: 0px 8px 8px 0px;
}

.bellIcon {
  width: 24px;
  height: 24px;
}

.matchesContainer {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
  min-width: 319px;
}

.accourdHeader button {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  padding-bottom: 10px !important;
}

.match-event-accordion-body {
  background-color: var(--global-color-table-header-primary);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 0px 12px 12px 12px !important;
}

.match-details-main .sports-types {
  padding: 0;
}

.sports-types {
  padding-left: 26px;
  padding-right: 26px;
}

.matchLeague {
  background: var(--global-color-table-header-tertiary);
  width: 100%;
  height: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
  color: var(--global-color-main-text_primary);
  margin-top: 15px;
}

.league {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}

.matchCardIcon {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.oddsDesc {
  display: flex;
  padding-right: 1.5rem;
}

.typeBet {
  width: 80px;
  text-align: center;
}

.sports-matches-container {
  padding: 0;
}

.mb-match-time {
  background: var(--global-color-table-header-tertiary);
  padding: 4px 10px;
  font-style: normal;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  height: 28px;
}

.liveGames {
  width: 57px;
  display: flex;
  padding-left: 5px;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  font-size: 11px;
  color: var(--global-color-betslip-text_tenary);
  line-height: 12px;
}

.matchOdds .in-play-time,
.starting-soon-games {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  margin-left: 10px;
}

.starting-soon-games {
  color: var(--global-color-table-text-secondary);
  width: 57px;
}

.in-play-time {
  width: 100%;
  margin-left: 7px;
  color: var(--global-color-betslip-live_event);
}

.starting-soon-match {
  background: var(--global-color-table-header-tertiary);
  padding: 4px 10px;
  font-style: normal;
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
  height: 28px;
  gap: 10px;
}

.mb-match-hour {
  margin-left: 3px;
}

.sports-body {
  padding: 0 16px 16px 16px;
}

.selectionName {
  width: 88px;
  height: 100%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  color: var(--global-color-table-text-primary);
}

.singleSelection {
  width: fit-content;
  padding-right: 20px;
}

.stream {
  position: relative;
  height: 312px;
  width: 100%;
}

.stream-line {
  color: #ffffff;
  margin-bottom: 0;
  margin: 0px 10px;
}

.container-match-details-paragraph {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: var(--global-color-table-header-secondary);
  border-radius: 6px 6px 0 0;
  padding: 10px 16px;
  gap: 10px;
}

.teams-match-details--header {
  justify-content: space-around;
}

.MarketMenuContainer {
  font-size: 12px;
  width: 105px;
}

.containerOfSelectionsSports,
.containerOfSelections {
  width: 85px;
}

.tempmarketMenu {
  width: 105px;
}

@media screen and (max-width: 568px) {
  .matchResult {
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    font-size: 11px;
    line-height: normal;
  }

  .matchOdds {
    font-size: 12px;
  }

  .league {
    font-size: 12px;
  }

  .oddsDesc {
    padding-right: 1rem;
  }
}

.eventStyle {
  font-size: 12px;
}

@media screen and (max-width: 470px) {
  .eventStyle {
    font-size: 12px;
  }

  .matchCardIcon img {
    width: 20px;
    height: 20px;
  }

  .matchCardDate {
    padding-left: 5px !important;
    padding-right: 0;
    font-size: 12px;
  }

  .typeBet {
    width: 40px;
    text-align: center;
  }

  .mobileMatchCard {
    width: 143px;
  }

  .decimalValue {
    font-size: 12px !important;
  }

  .matchTeam {
    font-size: 10px;
  }

  .betAmountIcehockey {
    font-size: 10px;
  }
}

@media screen and (max-width: 351px) {
  .mobileMatchCard {
    width: 115px;
  }

  .matchCardDate {
    padding-left: 2px !important;
  }
}

@media screen and (max-width: 400px) {
  .matchCardIcon img {
    width: 15px;
    height: 15px;
  }

  .matchOdds {
    font-size: 12px;
  }

  .typeBet {
    width: 30px;
    text-align: center;
  }
}

.gameTimeContainer {
  font-weight: 400;
  line-height: 12px;
  color: var(--global-color-main-text_primary);
  margin-top: 2px;
}

.headerOfGames {
  background: var(--global-color-table-grid-background);
  margin: 0;
  height: 32px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
}

.match-event-selection {
  display: flex;
  padding-left: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-right: 1px solid var(--global-color-table-header-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--global-color-table-text-secondary);
}

.match-event-odds {
  max-width: max-content;
  width: 100%;
  min-width: 55px;
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  padding: 0;
}

.accordionStyle {
  border: none;
  background: none;
  color: var(--global-color-main-text_primary);
}

.homeSportsContainer .accordion-button.collapsed {
  padding-left: 20px;
}

.accordion-button.collapsed,
.accordion-button:not(.collapsed) {
  background: var(--global-color-table-header-primary);
  color: var(--global-color-table-text-primary);
  padding-left: 12px;
  font-size: 12px;
  font-weight: 600;
  height: 34px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sportsBackground .accordion-button.collapsed,
.sportsBackground .accordion-button:not(.collapsed) {
  background: var(--global-color-main-background_secondary);
  font-weight: 600;
  font-size: 12px;
}

.leagues-accordion .custom-accordion-header {
  background-color: var(--global-color-table-header-tertiary);
  border-radius: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 10px;
}

.custom-accordion.leagues-accordion:not(:last-child) {
  margin-bottom: 1px;
}

.homeSportsContainer.accordion-header {
  pointer-events: none;
}

.racingHeader {
  display: flex;
  width: 100%;
  height: 42px;
  align-items: center;
  background: #45494f;
  border-radius: 4px 4px 0px 0px;
}

.racingWrapper {
  display: flex;
  padding-left: 10px;
  height: 100%;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  align-items: center;
}

.racingContent {
  flex: 0 0 auto;
  width: 300px;
}

.racingWrapper::-webkit-scrollbar {
  display: none;
}

.racingWrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.racingBody {
  margin: 12px;
}

.racingLink {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: var(--global-color-table-text-primary);
  gap: 6px;
}

.racingHeaderName {
  width: 100%;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.racingHeaderNameVenue {
  text-transform: capitalize;
}

.racingLink img {
  height: auto;
  width: auto;
  border-radius: 0;
}

.racingUnderTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: var(--global-color-table-text-odds-primary);
}

.homeSportsContainer .accordion-button:after,
.leagues-accordion .accordion-button:after {
  background: none;
  margin-left: 0;
}

.homeSportsContainer .accordion-button:not(.collapsed)::after,
.leagues-accordion .accordion-button:not(.collapsed)::after {
  background: none;
  margin-left: 0;
}

.leagues-accordion .accordion-button:not(.collapsed)::after {
  background: url(/images/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}

.leagues-accordion .accordion-button:after {
  background: url(/images/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(0deg);
}

.accordion-button:after {
  background: url(/images/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}

.accordion-button:not(.collapsed)::after {
  background: url(/images/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(0deg);
}

.matchCardRow {
  cursor: pointer;
  background: var(--global-color-table-grid-background);
}

.matchCardRow:nth-last-child(2) {
  border-radius: 20px;
}

.valueOfBets {
  border-left: 1px solid var(--global-color-table-grid-border);
}

.accordianStyle {
  border-width: 0px !important;
}

.accordion-body {
  padding: 0px;
  color: var(--global-color-table-text-secondary);
  overflow-x: auto;
}

.accordion-header {
  background: transparent;
  font-style: normal;
  font-weight: 400;
}

.homeSportsContainer button {
  width: 100%;
  height: 48px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  background: url(/images/swiftySpecialsLogo.png) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover !important;
}

.horseRacingContainer button {
  background: url(/images/eventsBoostLogo.png) !important;
  background-size: cover !important;
}

.popularCasinoContainer {
  border-radius: 0px;
}

.popularCasinoContainer button {
  background: transparent !important;
}

.mainInPlay {
  margin-top: 0px;
  padding-left: 0;
  padding-right: 0;
}

.odds-changed-triangle {
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-bottom: 18px solid var(--global-color-price-going-out);
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.accordion {
  margin-bottom: 10px;
}

.homeSportsMainContainer {
  margin-bottom: 2px;
}

.accordion-button:not(.collapsed),
.accordion-button:not(.collapsed):focus {
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px;
}

.homeSportsContainer .accordion-button:not(.collapsed),
.homeSportsContainer .accordion-button:not(.collapsed):focus {
  height: 105px;
  display: flex;
  /* flex-direction: row-reverse; */
  /* margin-right: auto; */
  /* justify-content: flex-end; */
  /* gap: 20px; */
  padding-left: 20px;
  align-items: flex-start;
  padding-top: 14px;
  z-index: 0;
}

.homeSportsContainer button .casinoMenu .menu button {
  color: #adadad;
  text-decoration: none;
  border-radius: 20px;
  font-size: 14px;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 12px;
  width: auto;
  height: 36px;
  background: #292929 !important;
  border: 1px solid var(--global-color-shade9);
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  border-radius: 100px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.homeSportsContainer button .casinoMenu .menu .selected {
  background: var(--global-color-shade9) !important;
  border: none;
  color: var(--global-color-main-text_primary);
}

.matchTeamStyle {
  justify-content: flex-end;
  text-align: end;
}

.pitchCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  height: 334px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  position: relative;
}

.goBackButtonMatchDetails {
  margin-bottom: 0;
}

.accordionContainer {
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 10px;
}

.accordionContainer .headerOfGames {
  margin: 0 10px 10px;
}

@media screen and (max-width: 480px) {
  .pitchCenter {
    margin-bottom: 0;
    height: 195px;
  }

  .accordionContainer {
    margin-bottom: 16px;
  }
}

.pitch-top {
  position: absolute;
  top: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-position: top right;
}

.pitch-bottom {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-position: top right;
  font-size: 20px;
}

.live-label {
  width: 122.6px;
  height: 32px;
  background: rgba(55, 59, 64, 0.5);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: rgba(55, 59, 64, 0.5);
  border-radius: 6px;
  font-size: 12px;
  height: 32px;
  padding: 5px 20px;
}

.live-label:first-of-type {
  margin-right: 10px;
}

.live-label:nth-child(2) {
  background: rgba(159, 165, 158, 0.5);
}

.md-match-name {
  border-bottom: 1px solid var(--global-color-table-grid-border);
  display: flex;
}

.accordion-container-without-markets {
  margin-top: 18px;
}

@media screen and (max-width: 480px) {
  .accordionContainer {
    margin-top: 6px;
  }

  .pitch-top {
    top: 2px;
    padding-right: 0;
  }

  .live-label {
    height: 18px;
    font-size: 12px;
  }

  .accourdHeader button {
    font-size: 10px;
  }

  .match-event-selection,
  .match-event-odds {
    font-size: 12px;
  }

  .headerOfGames {
    min-height: 35px;
  }

  .betAmountsIceHockey {
    color: var(--global-color-main-text_secondary);
    padding: 6px;
    font-size: 10px;
  }

  .pitch-bottom {
    font-size: 12px !important;
    bottom: 15px;
  }
}

.containerOfSelectionsOthers {
  display: flex;
}

.more-markets-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font: #fff;
  font-size: 11px;
}

@media screen and(max-width: 1400px) and (min-width: 991px) {
  .pitch-bottom {
    font-size: 16px !important;
  }

  .pitch-top {
    width: calc(100% - 298px);
    top: 170px;
  }

  .live-label {
    height: 30px;
  }
}

@media screen and (min-width: 1400px) {
  .pitch-top {
    top: 15px;
  }

  .live-label {
    height: 32px;
  }
}

.matchOddsContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

.teams-for-matchdetails-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1px;
  padding: 12px 0px;
  background: var(--global-color-table-header-secondary);
  border-radius: 0 0 6px 6px;
}

.matchDetails-goBack {
  color: var(--global-color-table-text-primary);
  font-size: 12px;
}

.match-details-header {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: var(--global-color-table-text-primary);
}

.match-details-teams-teams {
  font-style: normal;
  font-size: 12px;
  color: var(--global-color-table-text-primary);
  font-weight: 600;
  background-color: var(--global-color-table-grid-background);
  width: 100%;
  padding: 10px 16px 0 16px;
  border-radius: 6px;
  min-height: 38px;
}

.match-details-teams-teams:first-of-type {
  text-align: end;
  padding: 10px 16px;
}

.match-result-soccer-vs {
  width: 6%;
  height: 38px;
  font-weight: 600;
  border-radius: 6px;
  color: var(--global-color-main-text_primary);
  background: var(--global-color-table-text-odds-primary);
  margin: 0 1rem 0 1rem;
}

.match-details-teams-teams:first-of-type {
  margin-left: 12px;
}

.match-details-teams-teams:last-of-type {
  margin-right: 12px;
  padding: 10px 0 10px 16px;
}

.goBackButtonDetails svg {
  transform: rotate(90deg);
}

@media screen and (max-width: 1024px) {
  .match-result-soccer-vs {
    width: 46px;
    height: 76px;
    margin-left: 8px;
    margin-right: 0;
  }

  .sports-body {
    padding: 0;
  }

  .leagues-accordion .custom-accordion-header {
    background-color: var(--global-color-table-header-secondary);
    height: 38px;
  }

  .leagues-accordion:not(:last-child) .custom-accordion-header {
    border-bottom: 1px solid var(--global-color-table-grid-background);
  }

  .inPlaySectionAccordion .accordion-header,
  .inPlaySectionAccordion .accordion-header .accordion-button {
    background: var(--global-color-main-background_tertiary);
  }

  .odds > :not(:first-child) {
    border-left: 1px solid var(--global-color-table-grid-border);
  }

  .mb-match-time {
    padding: 4px 0 4px 10px;
  }

  .ice-hockey-container {
    font-size: 10px;
    text-align: center;
    padding: 0;
  }

  .sport-container .accordionContainer {
    margin: 0;
  }

  .sport-container .bordered-match {
    border-bottom: 1px solid #414851;
  }

  .bordered-match .custom-accordion-header {
    min-height: 38px;
  }

  .containerOfSelectionsOthers {
    width: auto;
  }

  .accordionContainer {
    margin-top: 0;
  }

  .IOSSwitch:checked {
    background-color: red;
  }

  .mobile-container-match-details-content {
    position: static;
  }

  .teams-for-matchdetails-container {
    display: flex;
    margin-left: 0;
  }

  .teams-container-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    width: calc(100% - 46px);
  }

  .teams-container-details-vs {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-match-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .goBackButtonDetails {
    margin-bottom: 0;
    background-color: transparent;
  }

  .matchCardDate {
    padding-left: 12px;
  }

  .stream-line {
    font-size: 13px;
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
  }

  .stream-container {
    display: flex;
    align-items: center;
  }

  .teams-for-matchdetails-container {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 6px 6px;
    border-top: none;
    justify-content: space-around;
    padding: 3px 0px;
  }

  .team-for-matchdetails-mobile {
    display: flex;
    align-items: center;
    height: 32px;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    padding: 0 12px;
    color: var(--global-color-table-text-primary);
    background: var(--global-color-table-grid-background);
    border-radius: 6px;
  }

  .team-for-matchdetails-mobile:last-of-type {
    margin-top: 0;
  }

  .team-for-matchdetails-mobile:last-of-type {
    justify-content: flex-start;
  }

  .containerOfSelectionsSports {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footballContainerSports {
    margin-bottom: 10px;
  }

  #autocomplete-competition::placeholder,
  #autocomplete-marketInPlay::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 13px !important;
    line-height: 16px;
    color: var(--global-color-main-text_primary);
  }

  .matchOddsContainer {
    height: 100%;
    width: 100%;
    justify-content: center;
  }

  .containerOfSelections:last-of-type .matchOddsContainer {
    border-right: 0;
    border-radius: 0px 0px 8px 0px;
  }

  .accordion-button:not(.collapsed),
  .accordion-button:not(.collapsed):focus {
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px;
    height: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    padding: 10px 14px;
    line-height: 20px;
  }

  .accordion-button.collapsed {
    padding-top: 10px;
    height: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    padding: 10px 14px;
    line-height: 20px;
  }

  .containerOfSelections {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.33%;
  }

  .containerOfSelections:first-child {
    border-left: 0px;
  }

  .containerOfSelections:last-child {
    border-right: 0;
  }

  .selectionTeams {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 10px;
    text-align: center;
    color: var(--global-color-table-text-primary);
    padding: 7px 0px;
    width: 100%;
    border-top: 1px solid var(--global-color-table-grid-border);
    border-bottom: 1px solid var(--global-color-table-grid-border);
  }

  .valueOddsInBets {
    border-left: 0px;
    color: var(--global-color-main-text_secondary);
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .mobileBetsOdds {
    width: 100% !important;
  }

  .matchResultMobile {
    width: 51px;
  }

  .mobileMatchContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 14px;
    padding-top: 14px;
  }

  .mobileMatchRowForTeams {
    width: 100%;
    align-items: flex-start;
    display: flex;
    gap: 4px;
  }

  .matchTeamMobile {
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    font-size: 13px;
    line-height: 12px;
    align-items: flex-start;
    color: var(--global-color-table-text-primary);
    padding: 0;
    gap: 4px;
  }

  .matchTeam-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    gap: 4px;
  }

  .dateandtimeofmatchinfootball {
    height: 32px;
    background-color: var(--global-color-table-header-tertiary);
  }

  .tempmarketMenu {
    width: auto;
    padding-right: 9px;
  }

  .matchTeamStyle {
    justify-content: flex-start;
    text-align: start;
    justify-content: space-between;
    font-size: 13px;
    height: auto;
  }

  .match-score {
    width: 100%;
    text-align: center;
    border-radius: 4px;
    padding-inline: 6px;
    font-size: 12px;
    font-weight: 600;
    color: var(--global-color-table-text-odds-primary);
    background: var(--global-color-table-text-vs-background);
    min-width: 24px;
    min-height: 24px;
    line-height: 24px;
  }

  .matchResult {
    font-size: 12px;
    font-weight: 600;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .match-result-ice-hockey {
    height: 23px;
  }

  .vs-for-matchdetails {
    width: 20%;
    font-size: 13px;
    margin-left: 5px;
  }

  .liveGames {
    flex-direction: row;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
  }

  .matchesContainer {
    margin: 0 auto;
  }

  .iceHockeyGames {
    justify-content: space-around;
    width: 100%;
  }

  .accordion {
    margin-bottom: 0;
    border-bottom: 1px solid #414851;
  }

  .homeSportsMainContainer {
    margin-bottom: 2px;
    border: none;
  }

  .match-vs-teams {
    height: 24px;
  }

  .matchResult-soccer {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .team-result-soccer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: var(--global-color-table-text-primary);
    background: var(--global-color-table-text-odds-primary);
    min-width: 32px;
    height: 32px;
    font-weight: 600;
    font-size: 12px;
  }

  .matchCard-icon-inPlay-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .matchCard-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--global-color-table-grid-background);
    min-width: 32px;
    height: 32px;
  }

  .inPlay-time {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
    color: var(--global-color-main-text_primary);
    background: var(--global-color-table-grid-background);
    min-width: 32px;
    height: 32px;
    color: var(--global-color-betslip-live_event);
  }
}

.betAmountsIceHockey {
  font-size: 10px;
  color: var(--global-color-main-text_secondary);
  padding: 6px;
}

.ice-hockey-title {
  display: flex;
  justify-content: space-between;
}

.ice-hockey-sub-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--global-color-table-grid-border);
  border-bottom: 1px solid var(--global-color-table-grid-border);
  border-right: 1px solid var(--global-color-table-grid-border);
}

.ice-hockey-sub-container:last-of-type {
  border-bottom: 0;
}

.ice-hockey-container:last-of-type .ice-hockey-sub-container {
  border-right: 0;
}

.ice-hockey-container .ice-hockey-sub-container:last-of-type {
  border-top: 0;
}

.betAmountIcehockey {
  padding: 6px;
  font-size: 10px;
}

.tempMarketMenuContainer {
  width: 20%;
}

.betIceHockeyContainer {
  font-size: 10px;
  color: #f5c451;
  box-sizing: border-box;
  line-height: 14px;
  border-left: 1px solid var(--global-color-table-grid-border);
  width: 105px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.selectionTeamContainer {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  color: #fff;
}

.matchIceHockeyRow {
  height: 63px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

/* HORSE CARD CSS*/

.titleRow {
  width: 100%;
  height: 47px;
  background: var(--global-color-table-header-tertiary);
  border-radius: 0px;
  justify-content: flex-start;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  padding: 8px;
  padding-left: 16px;
}

.matchCardRow:nth-last-child(2) {
  border-radius: 0px;
}

.underTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  display: flex;
  align-items: center;
  color: var(--global-color-main-text_secondary);
  gap: 2px;
}

.matchCardRowContainer2 {
  display: flex;
  flex-wrap: wrap;
  min-height: 40px;
  align-items: center;
}

.matchCardRow2 {
  position: relative;
  display: grid;
  grid-template-columns: 131px 3fr;
  border-radius: 0px;
  background: var(--global-color-table-grid-background);
  margin-bottom: -1px;
}

.matchTeam2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  height: 100%;
  min-height: 36px;
  font-size: 12px;
  font-weight: 400;
  border-right: 1px solid var(--global-color-table-grid-border);
  border-top: 1px solid var(--global-color-table-grid-border);
}

.matchTeam2 svg {
  transform: rotate(90deg);
}

.author {
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  color: #b5b5b5;
  margin-top: 2px;
}

.bet {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  border-left: 2px solid var(--global-color-table-grid-border);
  width: 12.5%;
  min-height: 40px;
  color: var(--global-color-main-text_secondary);
}

.containerOfSelections {
  display: flex;
}

@media screen and (max-width: 1600px) {
  .bet {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 93%;
    transform: translate(-50%, -50%);
    border-left: 0.1em solid var(--global-color-table-grid-border);
  }
}

@media screen and (max-width: 1400px) {
  .bet {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 94%;
    transform: translate(-50%, -50%);
    border-left: 0.09em solid var(--global-color-table-grid-border);
  }
}

@media screen and (max-width: 1000px) {
  .bet {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 93.5%;
    transform: translate(-50%, -50%);
    border-left: 0.09em solid var(--global-color-table-grid-border);
  }
}

@media screen and (max-width: 800px) {
  .bet {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 93.5%;
    transform: translate(-50%, -50%);
    border-left: 0.06em solid var(--global-color-table-grid-border);
  }
}

.viewCard {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #d0a342;
}

.countries {
  padding-top: 5rem;
}

.countriesItem {
  display: flex;
  height: 36px;
  border-right: 1px solid var(--global-color-table-grid-border);
  border-bottom: 1px solid var(--global-color-table-grid-border);
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: var(--global-color-table-text-odds-primary);
}

.whiteTxt {
  color: var(--global-color-table-text-odds-secondary);
  font-style: normal;
  font-weight: 500;
}

.titleContainer {
  display: flex;
}

.matchCardRowWidth {
  border-radius: 0px;
  width: 100%;
}

.pointerImg {
  margin-right: 5px;
}

.horseHeader {
  padding-top: 0.5rem;
}

.matchOdds.styleOfSelectedOdd {
  background: var(--global-color-main-background_primary);
  color: var(--global-color-main-text_primary);
}

.oddsInPlay {
  box-sizing: border-box;
  width: 88px;
  border-left: 1px solid #353a40;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #bc9239;
}

.inPlayPlaceBet {
  width: 85px;
}

.matchIceHockeyRow:first-of-type {
  border-bottom: 0;
}

.ice-hockey-main-container {
  width: 100%;
  height: 50%;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 1024px) {
  .match-details-header {
    position: static;
    transform: translate(0);
  }
  .match-event-selection {
    line-height: 32px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }

  .teams-for-matchdetails-container,
  .container-match-details-paragraph {
    background: transparent;
  }

  .teams-for-matchdetails-container {
    margin-top: 10px;
    gap: 8px;
  }

  .container-match-details-paragraph {
    /* border-bottom: 1px solid var(--global-color-table-grid-background); */
    padding: 0;
  }

  .containerOfSelectionsSports,
  .containerOfSelections {
    width: 60px;
  }

  .starting-soon-games {
    width: auto;
    margin-left: 0px;
    align-items: center;
  }

  .selectionName {
    width: 60px;
  }

  .matchCardIcon {
    margin-right: 5px;
  }

  .starting-soon-match {
    align-items: center;
  }

  .MarketMenuContainer {
    font-size: 10px;
    width: auto;
  }

  .matchCard {
    height: auto;
    min-height: 40px;
    grid-template-columns: auto max-content;
  }

  .markets-head {
    padding-inline: 12px;
  }

  .tempmarketMenu {
    width: auto;
  }

  .SportWidgetMultiSportsRow {
    padding-top: 0px;
  }

  .matchIceHockeyRow {
    flex-direction: column;
    height: 145px !important;
  }

  .dropdownFixedStyle {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: calc(100% - 57px);
    background: var(--global-color-shade6);
    z-index: 99;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #f9f9f9;
  }

  .dropdownFixedStyleComponent {
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 16px 16px 0px 0px;
    width: 100%;
    background: var(--global-color-main-background_tertiary);
    z-index: 99;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #f9f9f9;
    z-index: 1000;
    height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 1px solid var(--global-color-main-background_tertiary);
    transform: translateY(100%);
    transition: var(--global-transition);
  }

  .dropdownFixedStyleComponent.active {
    transform: translateY(0);
  }

  .dropdownFixedStyleComponentMarkets {
    top: 30px;
  }

  .fs-10 {
    font-size: 10px;
  }

  .sports-matches-container {
    justify-content: center;
    padding: 0 18px;
  }

  .matchesContainer {
    justify-content: space-between;
    padding: 8px 16px;
    min-width: auto;
  }

  .matchTeam-name {
    min-height: 26px;
    line-height: 26px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }

  .teamsIceHockey {
    width: 100% !important;
    height: 48px;
    justify-content: space-around;
  }

  .typeBet {
    width: 50px;
    font-size: 12px;
    text-align: center;
  }

  .mainInPlay {
    padding: 0px;
  }
}

@media screen and (max-width: 600px) {
  .matchCardRow2 {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 576px) {
  .matchTeam.matchTeam2 {
    background-color: #353a40;
  }
}

@media screen and (min-width: 1024px) {
  .matchOdds:hover {
    background: var(--global-color-price-selected);
    color: var(--global-color-table-text-secondary);
  }
}
