.infoP,
.infoWithdrawal {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: var(--global-color-text-primary);
}

.infoP {
  font-size: 14px;
}

.infoDiv {
  background: var(--global-color-secondary);
  position: relative;
  border-radius: 10px;
  margin-left: 10px;
}

.arrowDeposit {
  transform: rotate(90deg);
  width: 15px;
}

.withdrawAmount {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--global-color-text-primary);
}

.value {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #bcbfc2;
}

.maxValue {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: var(--global-color-text-primary);
}

.debitIcon {
  width: 24px;
}

.modal-content {
  background: linear-gradient(180.02deg, #34393f 0.02%, #000000 284.75%);
  border-radius: 10px;
  border: none;
  align-items: center;
}

.modal-header,
.modal-footer {
  border: none;
}

.finishBtn {
  height: 35px;
  background: var(--global-color-button-primary);
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--global-color-text-primary);
  margin-top: 4rem;
  width: 327px;
}

.finishBtn.disabled {
  background: linear-gradient(0deg,
      var(--global-color-secondary),
      var(--global-color-secondary)),
    var(--global-color-secondary);
  color: #bcbfc2;
}

.modal-title {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 42px;
  color: var(--global-color-text-primary);
}

.modal-header {
  display: flex;
  justify-content: center;
}

.checkAndTitle {
  justify-content: center;
  text-align: center;
  width: 100%;
}

.fundsModal {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 24px;
  display: flex;
  color: var(--global-color-text-primary);
  justify-content: center;
}

.fundsMsgModal {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  color: var(--global-color-text-primary);
  text-align: center;
}

.modal-body,
.modal-content,
.modal-footer {
  padding: 1rem !important;
}

.casino-modal-body {
  position: relative;
  padding: 0 !important;
  border-radius: 0 0 6px 6px;
  display: flex;
  flex-direction: column;
  min-height: 604px;
  background: var(--global-color-shade5);
}

.casino-modal-content {
  padding: 0rem !important;
  margin-top: 0rem;
  display: block;
}

.modal-footer {
  padding-bottom: 0 !important;
}

.wdraw {
  position: absolute;
  top: 41%;
  right: 15px;
}

.modalFullScreen {
  padding: 0;
  display: block;
}

.depositTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 48px;
  align-items: center;
  color: var(--global-color-text-primary);
}

.deposit-form {
  padding-top: 2.7%;
  height: 47vh;
  position: relative;
}

.deposit-input {
  margin-bottom: 15px;
  width: 100%;
  max-width: 400px;
  height: 50px;
  color: #bcbfc2;
  background: var(--global-color-secondary);
  outline: none;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0 20px;
}

.selectDecimalDeposit {
  background: var(--global-color-secondary);
  border-radius: 10px;
  border: none;
  position: relative;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-inputs {
  display: flex;
  width: 100%;
  max-width: 400px;
}

.selectDecimalDeposit:not(:first-child) {
  margin-left: 7%;
}

.selectedOddDeposit {
  border: 1.5px solid var(--global-color-gold-button);
}

.selectedOddDeposit2 {
  border: 1.5px solid transparent;
}

.button-div {
  display: flex;
  max-width: 400px;
  width: 100%;
  align-items: baseline;
}

.submit-button-deposit {
  width: 100%;
  max-width: 400px;
  font-weight: 600;
  height: 50px;
  color: #bcbfc2;
  background: var(--global-color-secondary);
  outline: none;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
}

.terms-modalContent {
  padding: 1rem !important;
}

.privacy-modalContent {
  padding: 2rem !important;
}

@media screen and (max-width: 1024px) {
  .modal-content {
    margin-top: 0px;
    height: 100%;
  }

  .depositTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 48px;
    align-items: center;
    color: var(--global-color-text-primary);
  }

  .deposit-form {
    padding-top: 2%;
  }

  .deposit-input {
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
    height: 50px;
    color: #bcbfc2;
    background: var(--global-color-secondary);
    outline: none;
    border: none;
    box-sizing: border-box;
    border-radius: 10px;
  }

  .selectDecimalDeposit {
    background: var(--global-color-secondary);
    border-radius: 10px;
    border: none;
    position: relative;
    cursor: pointer;
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .price-inputs {
    display: flex;
    width: 100%;
    max-width: 400px;
  }

  .selectDecimalDeposit:not(:first-child) {
    margin-left: 5%;
  }

  .button-div {
    height: 150px;
  }

  .submit-button-deposit {
    width: 100%;
    max-width: 400px;
    height: 50px;
    color: #bcbfc2;
    background: var(--global-color-secondary);
    outline: none;
    border: none;
    box-sizing: border-box;
    border-radius: 10px;
  }

  .selectedOddDeposit {
    border: 1.5px solid var(--global-color-gold-button);
  }

  .selectedOddDeposit2 {
    border: 1.5px solid transparent;
  }
}

.active-button-of-submit {
  background-color: var(--global-color-tertiary);
  color: var(--global-color-text-primary);
}

@media screen and (max-width: 991px) {
  .deposit-input,
  .submit-button-deposit,
  .button-div {
    max-width: 100%;

  }
  .deposit-form{
    height: auto;
    flex: 1;
  }
}