.change-password-container {
  position: relative;
  margin-left: 450px;
  padding-top: 45px;
}

.change-password-content {
  max-width: 384px;
}

.change-password-container .password_input {
  width: 100%;
}

.change-password .authButtonsContainer {
  max-width: 100%;
}

.change-password-container .authButtonsContainer .continueBtn {
  width: 100%;
}

.change-password-container .authButtonsContainer {
  left: 0;
  right: 0;
  margin-top: 40px;
}

@media only screen and (max-width: 1024px) {
  .change-password-container {
    width: 100%;
    position: static;
    margin-left: 0;
  }

  .change-password-content {
    max-width: 100%;
  }

  .loginForm.change-password-content {
    justify-content: flex-start;
  }

  .change-password-container .authButtonsContainer {
    left: 0;
    right: 0;
  }

  .change-password .authButtonsContainer .continueBtn {
    width: 100%;
  }
}
