.change-password {
  width: 100%;
}

.change-password .authButtonsContainer {
  max-width: 100%;
}

.change-password .authButtonsContainer .continueBtn {
  width: 100%;
}

@media screen and (max-width: 576px) {
  .change-password .authButtonsContainer {
    position: static;
  }
}
