.standart-widget {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 0 10px;
}

.standart-widget-bet {
  display: flex;
  justify-self: center;
  height: 44px;
  width: 100%;
  background: var(--global-color-background-quinary);
  border-radius: 4px;
}

.standart-widget-bet .odds-of-events,
.standart-widget-bet .text-of-events {
  border-bottom: 0;
}

.standart-widget-bet .text-of-events {
  padding: 0 12px;
}

.standart-widget-bet .odds-of-events {
  border-right: 0;
}

.standart-widget-bet .odds-of-events .matchOdds {
  border-radius: 0 4px 4px 0;
  min-width: 50px;
}

.standart-widget-wrapper {
  margin: 16px 0;
}

@media (max-width: 991px) {
  .standart-widget {
    grid-template-columns: 1fr;
    padding: 0 16px;
  }

  .standart-widget > :not(:last-child) {
    margin-bottom: 8px;
  }

  .standart-widget-bet {
    max-width: none;
  }
}
