.events-filters {
  padding: 10px 12px;
}

.events-filters .arrow-wrapper.next {
  right: -12px;
  border-bottom-right-radius: 4px;
}

.events-filters .arrow-wrapper.previous {
  left: -12px;
  border-bottom-left-radius: 4px;
}

.events-filters svg {
  box-shadow: none;
  height: 20px;
  width: 20px;
}

.events-filters .arrow-wrapper {
  background-color: var(--global-color-table-header-secondary);
  padding: 0 10px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .events-filters {
    padding: 0;
  }

  .events-filters .arrow-wrapper {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }

  .events-filters svg {
    width: 26px;
    height: 26px;
    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.46);
  }

  .events-filters .arrow-wrapper.next {
    right: 0;
  }

  .events-filters .arrow-wrapper.previous {
    left: 0;
  }
}
