.affiliates {
  background: var(--global-color-main-background_tertiary);
  padding-bottom: 50px;
}

.affiliatesBanner {
  width: 100%;
  height: auto;
}

.affiliatesBanner > img {
  width: 100%;
  height: 100%;
}

.infoForCostumers {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-inline: 24px;
}

.infoForCostumers > p {
  font-size: 14px;
  line-height: 16px;
  color: var(--global-color-main-icon_primary);
  margin: 0;
}

.registerNow {
  min-width: 328px;
}

.registerNowTitle {
  margin-bottom: 30px;
}

.affiliatesRegister .offerWorksTitle {
  font-size: 36px;
  margin-bottom: 34px;
}

.offerWorksLists {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 0;
}

.offerWorksLists > li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 44px;
  padding: 0;
}

.offerWorksLists h4 {
  font-size: 16px;
  color: var(--global-color-main-icon_primary);
  font-weight: 600;
  line-height: 24px;
}

.listSequence {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  border: 2px solid var(--global-color-main-background_primary);
  color: var(--global-color-main-icon_primary);
  font-size: 32px;
  font-weight: 600;
}

.listInfo {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  max-width: 290px;
}

.listInfo > p {
  text-align: start;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: var(--global-color-main-icon_primary);
}

.listInfo > h4 {
  margin: 0;
}

.affiliatesRegister {
  width: 60%;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.affiliatesRegister h2 {
  color: var(--global-color-main-icon_primary);
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
}

.email-validation {
  display: flex;
  flex-direction: column;
  position: relative;
}

.email-validation button,
input {
  height: 48px !important;
}

.email-validation button,
p {
  margin-bottom: 24px;
}

.affiliatesButtons .continueBtn {
  margin-bottom: 16px;
  height: 48px;
}

.affiliatesInfo {
  width: 65%;
  margin: auto;
  color: var(--global-color-main-icon_primary);
}

.affiliatesInfoTitle {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 6px;
  line-height: 24px;
}

.affiliatesInfoTerms > p {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.generalTitle {
  height: 40px;
  text-transform: uppercase;
}

.affilatesFooter {
  width: 60%;
  margin: 80px auto 50px;
}

.affiliatesFooter > footer {
  background: var(--global-color-main-background_tertiary);
}

.affiliatesFooter > footer > .footerContainerMenu {
  max-width: 960px;
}

@media screen and (max-width: 1386px) {
  .affiliatesRegister {
    width: 90%;
  }
}

@media screen and (max-width: 848px) {
  .affiliates {
    padding-bottom: 40px;
  }

  .affiliatesRegister {
    justify-content: center;
    width: 100%;
    padding-inline: 24px;
    gap: 44px;
    margin-block: 20px 44px;
  }

  .affiliatesInfo {
    width: 100%;
    padding-inline: 24px;
  }

  .affiliatesRegister .offerWorksTitle {
    font-size: 30px;
  }

  .offerWorksLists > li {
    gap: 16px;
  }

  .offerWorksLists {
    gap: 30px;
  }
}

@media screen and (max-width: 792px) {
  .registerNow {
    width: 100%;
  }
}

@media screen and (max-width: 466px) {
  .infoForCostumers {
    height: 28px;
  }

  .infoForCostumers > p {
    text-align: start;
    font-size: 8px;
    line-height: 2;
  }

  .listSequence {
    width: 60px;
    height: 60px;
    aspect-ratio: 1;
  }
}
