.affiliates {
  background: var(--global-color-background-secondary);
  padding-bottom: 50px;
}

.affiliatesBanner {
  width: 100%;
  aspect-ratio: 16/9;
  max-height: 598px;
  min-height: 290px;
  position: relative;
}

.customerWelcome {
  position: absolute;
  color: #fff;
  width: 65%;
  margin: auto;
  inset: 0;
  top: 72px;
}

.customerWelcomeGet {
  display: flex;
  margin-bottom: 30px;
}

.customerWelcomeGet span {
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
}

.customerWelcomeGet p {
  font-size: 32px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 0;
}

.customerWelcomeTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 20px;
}

.customerWelcomeGet .goldGet {
  color: var(--global-color-primary);
  font-size: 100px;
  line-height: 75px;
  font-weight: 600;
  margin-right: 14px;
}

.customerWelcomePlus {
  display: flex;
}

.customerWelcomePlus span {
  font-size: 32px;
  line-height: 24px;
  font-weight: 600;

}

.customerWelcomePlus .goldPlus {
  color: var(--global-color-primary);
  font-size: 44px;
  font-weight: 600;
  line-height: 18px;
  margin-right: 8px;

}

.customerWelcomeGet>div {
  margin-left: 20px;
}

.customerWelcomePlus>div {
  margin-left: 30px;
}

.customerWelcomePlus>div,
.customerWelcomeGet>div {
  display: flex;
}

.gambleInfo {
  display: flex;
  gap: 60px;
  margin-top: 40px;
}

.gambleInfo>p {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.gambleInfo>a {
  color: #fff;
  font-size: 16px;
}

.affiliatesBanner>img {
  min-height: 290px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoForCostumers {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-inline: 24px;
}

.infoForCostumers>p {
  font-size: 14px;
  line-height: 16px;
  color: var(--global-color-text-secondary);
  margin: 0;
}

.registerNow {
  min-width: 328px;
}

.registerNowTitle {
  margin-bottom: 30px;
}

.affiliatesRegister .offerWorksTitle {
  font-size: 36px;
  margin-bottom: 34px;
}

.offerWorksLists {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 0;
}

.offerWorksLists>li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 0;
}

.offerWorksLists h4 {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  line-height: 24px;
}

.listSequence {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  border: 2px solid #C59E43;
  color: white;
  font-size: 32px;
  font-weight: 600;
}

.listInfo {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  max-width: 290px;
}

.listInfo>p {
  text-align: start;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #fff;
}

.listInfo>h4 {
  margin: 0;
}

.affiliatesRegister {
  width: 60%;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.affiliatesRegister h2 {
  color: #fff;
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
}

.email-validation {
  display: flex;
  flex-direction: column;
  position: relative;
}

.email-validation button,
input {
  height: 48px !important;
}

.email-validation button,
p {
  margin-bottom: 24px;
}

.affiliatesButtons .continueBtn {
  margin-bottom: 16px;
  height: 48px;
}

.affiliatesInfo {
  width: 65%;
  margin: auto;
  color: #fff;
}

.affiliatesInfoTitle {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 6px;
  line-height: 24px;
}

.affiliatesInfoTerms>p {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.generalTitle {
  height: 40px;
}

.affilatesFooter {
  width: 60%;
  margin: 80px auto 50px;
}

.affiliatesFooter>footer>.footerContainerMenu {
  max-width: 960px;
}

@media screen and (max-width: 1386px) {
  .affiliatesRegister {
    width: 90%;
  }
}

@media screen and (max-width: 848px) {
  .affiliates {
    padding-bottom: 40px;
  }

  .affiliatesRegister {
    justify-content: center;
    width: 100%;
    padding-inline: 24px;
    gap: 44px;
    margin-block: 20px 44px;
  }

  .affiliatesInfo {
    width: 100%;
    padding-inline: 24px;
  }

  .affiliatesRegister .offerWorksTitle {
    font-size: 30px;
  }

  .offerWorksLists>li {
    gap: 16px;
  }

  .offerWorksLists {
    gap: 30px;
  }

  .customerWelcome {
    position: absolute;
    color: #fff;
    width: 100%;
    margin: auto;
    inset: 0;
    top: 22px;
    left: 24px;
  }

  .customerWelcomeTitle {
    font-size: 20px;
    line-height: normal;
  }

  .customerWelcomeGet span {
    font-size: 34px;
  }

  .customerWelcomeGet .goldGet {
    font-size: 78px;
    line-height: 66px;
  }

  .customerWelcomeGet p {
    font-size: 24px;
  }

  .customerWelcomePlus span {
    font-size: 28px;
  }

  .customerWelcomePlus .goldPlus {
    line-height: 24px;
    font-size: 33px;
    margin-bottom: 4px;
  }

  .customerWelcomePlus span {
    line-height: 24px;
  }

  .customerWelcomePlus p {
    font-size: 22px;
  }

  .gambleInfo>p {
    font-size: 8px;
    line-height: normal;
  }

  .gambleInfo>a {
    font-size: 8px;
  }

  .customerWelcomePlus>div,
  .customerWelcomeGet>div {
    flex-direction: column;
    justify-content: flex-start;
  }

  .customerWelcomeGet {
    margin-bottom: 14px;
  }

  .affiliatesFooter>footer {
    background-color: var(--global-color-background-primary);
  }
}

@media screen and (max-width: 792px) {
  .registerNow {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {

  .gambleInfo {
    margin-top: 14px;
    gap: 6px;
  }
}

@media screen and (max-width: 466px) {
  .infoForCostumers {
    height: 28px;
  }

  .infoForCostumers>p {
    text-align: start;
    font-size: 8px;
    line-height: 2;
  }

  .affiliatesBanner {
    height: 290px;
  }

  .listSequence {
    width: 60px;
    height: 60px;
    aspect-ratio: 1;
  }
}