.winButton,
.lossButton,
.partialButton {
  border-radius: 10px;
  position: absolute;
  top: 35%;
  right: 3%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 70px;
  height: 30px;
  color: var(--global-color-main-text_primary);
}
.winButton {
  background-color: var(--global-color-settings-button_green);
}
.lossButton {
  background: rgba(226, 11, 92, 0.6);
}
.partialButton {
  background: rgba(14, 183, 236, 0.76);
}

.loss {
  background: rgba(226, 11, 92, 0.6);
}
.win {
  background: rgba(41, 248, 161, 0.6);
}
.partial {
  background: rgba(14, 183, 236, 0.76);
}
.cancel {
  background: var(--global-color-table-header-tertiary);
}