.game-info-mobile {
    overflow: hidden;
}

.game-modal-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-inline: 8px;
    padding-block: 16px 8px;
}

.info-modal-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
    min-height: 50px;
}

.game-info-modal-content {
    position: absolute;
    bottom: 0;
    height: fit-content;
    border-radius: 10px 10px 0 0;
    background-color: var(--global-color-casino-shade_secondary);
}

.modal-head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 16px 8px;
}

.modal-head img {
    cursor: pointer;
}

.modal-head h2 {
    margin: 0;
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
    color: var(--global-color-main-text_primary);
}

.info-item-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
}

.info-item-mobile h3 {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--global-color-casino-text_primary);
}

.info-item-mobile p {
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: var(--global-color-casino-text_secondary);
}

.btnPlayNow-mobile {
    background: var(--global-color-button-active);
    color: var(--global-color-button-text_active);
    height: 48px;
    border-radius: 8px;
    width: 100%;
}

.dashed-img-div {
    display: flex;
    position: relative;
    width: 100%;
    padding-inline: 8px;
    height: 1px;
}

.dashed-img-div img {
    width: 100%;
}