.activeTime {
  border-radius: 10px;
  background: var(--global-color-table-header-tertiary);
  padding: 5px;
  color: var(--global-color-main-text_primary);
  display: flex;
  justify-content: center;
}
.predictionHistoryBtn {
  height: 50px !important;
  border-color: var(--global-color-gold-button);
  background: #27292e;
  width: 306px !important;
  margin-bottom: 1rem;
}
