.sidebar-left {
  position: fixed;
  z-index: 10;
  height: 100%;
}

.sidebar-left-chat {
  padding-bottom: 71px;
}

.sidebar-left ~ .content {
  margin-left: 70px;
}

.sidebar-left.active ~ .content {
  margin-left: 276px;
}

@media (max-width: 1024px) {
  .sidebar-left {
    display: none;
  }

  .sidebar-left ~ .content {
    margin-left: 0;
    width: auto;
  }

  .sidebar-left.active ~ .content {
    margin-left: 0;
  }

  .sidebar-left.active {
    display: block;
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
  }
}
