.sidebar-left {
  position: fixed;
  z-index: 10;
  height: 100%;
  background-color: var(--global-color-sidebar-selection);
  font-size: 14px;
  color: var(--global-color-text-primary);
}

.sidebar-left-chat {
  padding-bottom: 71px;
}

.sidebar-item-name {
  margin-left: 12px;
}

.sport-d {
  min-height: 48px;
  cursor: pointer;
  align-items: center;
}

.input-search-sports.profile {
  text-indent: 0;
  background: transparent;
  border: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--global-color-sidebar-text);
  padding: 10px 19px 10px 12px;
  text-align: start;
  height: 48px;
}

.input-search-sports::placeholder {
  font-size: 14px;
  position: relative;
  color: var(--global-color-text-primary);
}

.closeSidebarButton .arrowImgSidebar {
  transition: 0.3s ease;
  transform: rotate(270deg);
}

.openSidebarButtonn .arrowImgSidebar {
  transform: rotate(90deg);
}

.closeSidebarButton {
  position: absolute;
  transition: opacity 0.1s ease-in-out;
  top: 50%;
  left: 100%;
  width: 20px;
  height: 42px;
  background: var(--global-color-background);
  border-radius: 0px 5px 5px 0px;
  transform: translateY(-100%);
  padding: 0;
  box-shadow: 6px 6px 10px 0px #00000052;
}

.sports-icon-miniSidebar {
  margin-left: 18px;
  width: 18px;
  height: 18px;
}

.sports-icon-miniSidebar-minimized {
  margin-left: 11px;
}

.inactive-left-border-miniSideBar img {
  margin-left: 10px;
}

.content {
  min-height: calc(100vh - 74px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-left.transition ~ .content {
  transition: 0.2s ease;
}

.sidebar-left ~ .content {
  margin-left: 70px;
}

.sidebar-left.active ~ .content {
  margin-left: 240px;
}

.sports-search-icon {
  margin-left: 16px;
  padding-bottom: 2px;
}

.sidebar-skeleton.active {
  width: 270px;
}

.sidebar-skeleton {
  width: 70px;
}

.sidebar-profile {
  background: var(--global-color-sidebar-selection);
  width: 70px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  transition: 0.2s ease;
  white-space: nowrap;
}

.sidebar-profile > div {
  border-bottom: 1px solid var(--global-color-sidebar-background);
}

.sidebar-profile.active {
  width: 240px;
}

@media (max-width: 1024px) {
  .sidebar-profile.active {
    width: 100%;
  }

  .sidebar-left {
    display: none;
  }

  .sidebar-left ~ .content {
    margin-left: 0;
    width: auto;
  }

  .sidebar-left.active ~ .content {
    margin-left: 0;
  }

  .sidebar-left.active {
    display: block;
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
  }
}
