.sidebar-left {
  position: fixed;
  z-index: 10;
  height: 100%;
  background-color: var(--global-color-sidebar-selection);
}

.sidebar-left-chat {
  padding-bottom: 71px;
}

.content {
  min-height: calc(100vh - 74px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-left ~ .content {
  margin-left: 70px;
}

.sidebar-left.active ~ .content {
  margin-left: 240px;
}

.sports-search-icon {
  margin-left: 16px;
  padding-bottom: 2px;
}

@media (max-width: 1024px) {
  .sidebar-left {
    display: none;
  }

  .sidebar-left ~ .content {
    margin-left: 0;
    width: auto;
  }

  .sidebar-left.active ~ .content {
    margin-left: 0;
  }

  .sidebar-left.active {
    display: block;
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
  }
}
