.arrow.rotate.profileMenu,
.arrowSecond.rotate.profileMenu {
  transform: rotate(90deg) !important;
}
.azDropdown.profile,
.popularDropdown.profile {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: var(--global-color-text-primary);
  text-transform: none !important;
}
.backgroundLinear {
  height: auto;
  position: relative;
}
.historyBets {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  display: flex;
  margin-left: 2rem;
  margin-top: 1rem;
  align-items: center;
  color: var(--global-color-text-primary);
}
.goBack {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  margin-top: 1rem;
  color: var(--global-color-text-primary);
  cursor: pointer;
}
.goBackArrow {
  margin-left: 4px !important;
  cursor: pointer;
}
.predictions-menu,
.openBets,
.settledBets {
  background-color: var(--global-color-secondary);
}

.predictionStyle {
  margin-left: 28px;
}

.sports-icon {
  width: 25px;
  height: 25px;
  margin-left: 18px;
}
.sport-icon-active {
  margin-left: 11px;
}
.sports-icon-miniSidebar {
  margin-left: 18px;
  width: 25px;
  height: 25px;
}
.sports-icon-miniSidebar-minimized {
  margin-left: 11px;
}
.search-profile-card {
  border-bottom: 1px solid #25292d;
  flex-direction: row !important;
  align-items: center;
  height: 64px;
}
.input-search-sports {
  background: transparent;
  border: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--global-color-text-primary);
  padding-right: 1rem;
  text-align: start;
}
.inactive-left-border-miniSideBar img {
  margin-left: 10px;
}

.input-search-sports::placeholder {
  position: relative;
  color: var(--global-color-text-primary);
}

.active-left-border {
  background: var(--global-color-tertiary);
  height: 100%;
  position: absolute;
}
.active-left-border-miniSideBar {
  background: var(--global-color-tertiary);
  width: 0px;
  height: 100%;
  margin-left: -8px;
}
.inactive-left-border {
  margin-left: 8px;
}
.inactive-left-border-miniSideBar {
  background: transparent;
  width: 8px;
  height: 100%;
  position: absolute;
}
.goBackStyle {
  display: flex;
  align-items: center;
  margin-left: 28px;
  margin-top: 22px;
}

@media screen and (max-width: 991px) {
  .backgroundLinear {
    height: auto;
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    justify-content: center !important;
  }
  .sidebarProfile {
    z-index: 99;
    width: 100%;
    position: relative;
  }
  .goBackArrow {
    margin-bottom: 29px !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1400px) {
  .sport-icon-active {
    margin-left: 11px;
  }
}

.borderProfile {
  border-bottom: 1px solid rgb(37, 41, 45);
}
