.rotate.profileMenu,
.arrowSecond.rotate.profileMenu {
  transform: rotate(90deg) !important;
  margin-right: 4px;
}

.azDropdown.profile,
.popularDropdown.profile {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: var(--global-color-sidebar-text) !important;
  text-transform: none !important;
}

.backgroundLinear {
  height: auto;
  position: relative;
}

.historyBets {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  display: flex;
  margin-left: 2rem;
  margin-top: 1rem;
  align-items: center;
  color: var(--global-color-sidebar-text);
}

.goBack {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  margin-top: 1rem;
  color: var(--global-color-text-primary);
  cursor: pointer;
}

.predictions-menu,
.openBets,
.settledBets {
  background-color: var(--global-color-sidebar-selection);
}

.predictionStyle {
  margin-left: 28px;
}

.sports-icon {
  width: 25px;
  height: 25px;
  margin-left: 18px;
  cursor: pointer;
}

.sport-icon-active {
  margin-left: 11px;
}

.sports-icon-miniSidebar {
  margin-left: 18px;
  width: 18px;
  height: 18px;
}

.sports-icon-miniSidebar-minimized {
  margin-left: 11px;
}

.input-search-sports.profile {
  text-indent: 0;
  background: transparent;
  border: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--global-color-sidebar-text);
  padding: 10px 19px 10px 12px;
  text-align: start;
  height: 48px;
}

.inactive-left-border-miniSideBar img {
  margin-left: 10px;
}

.input-search-sports::placeholder {
  font-size: 14px;
  position: relative;
  color: var(--global-color-text-primary);
}

.active-left-border {
  background: var(--global-color-primary);
  height: 100%;
  position: absolute;
}

.active-left-border-miniSideBar {
  background: var(--global-color-primary);
  width: 0px;
  height: 100%;
  margin-left: -8px;
}

.inactive-left-border {
  margin-left: 8px;
}

.inactive-left-border-miniSideBar {
  background: transparent;
  width: 8px;
  height: 100%;
  position: absolute;
}

.goBackStyle {
  margin-left: 28px;
  margin-top: 22px;
}

@media screen and (max-width: 1024px) {
  .backgroundLinear {
    min-height: calc(100vh - 56px);
    height: 100%;
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    position: relative;
    justify-content: center !important;
  }

  .sidebarProfile {
    z-index: 99;
    width: 100%;
    position: relative;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1400px) {
  .sport-icon-active {
    margin-left: 11px;
  }
}

.borderProfile {
  border-bottom: 1px solid var(--global-color-sidebar-background);
}

.profileMenuLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}