.confirmDepositLimit {
  position: relative;
  padding: 30px;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.confirmContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 40px;
  width: 100%;
}

.max-width-confirmContainer {
  max-width: 920px;
}

.secondHeader {
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--global-color-main-text_primary);
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 0;
}

.confirmImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.confirmTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 15px;
  width: 100%;
  height: 81px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.confirmHeader {
  height: 42px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--global-color-main-text_primary);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 0;
}

.confirmFirstButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 165px;
  height: 34px;
  background: var(--global-color-shade4);
  border-radius: 100px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: var(--global-color-shade-dark);
}

.confirmArrows {
  width: 30px;
  height: 36px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.confirmSecondButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 165px;
  height: 34px;
  background: var(--global-color-main-text_primary);
  border-radius: 100px;
  flex: none;
  order: 2;
  flex-grow: 0;
  color: black;
}

.confirmButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 165px;
  height: 136px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.confirmDepositButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .confirmDepositLimit {
    height: 100%;
    justify-content: space-between;
  }

  .max-width-confirmContainer {
    max-width: 920px;
  }

  .confirmContainer {
    width: 100%;
  }

  .confirmTextContainer {
    width: 100%;
  }

  .confirmButtonsContainer {
    width: 100%;
  }

  .confirmHeader {
    font-size: x-large;
  }

  .secondHeader {
    font-size: small;
  }

  .confirmFirstDepositButton {
    width: 100%;
  }

  .confirmSecondDepositButton {
    width: 100%;
  }
}
