.menuTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  align-items: flex-start;
  color: var(--global-color-text-primary);
}

.arrow-title {
  margin: 15px 0;
}

.menuText {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--global-color-text-primary);
  width: 100%;
  max-width: 454px;
}

.subText {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--global-color-text-primary);
  display: flex;
  align-items: center;
}

.selectDeposit {
  background: var(--global-color-secondary);
  border-radius: 10px;
  min-width: 200px;
  height: 50px;
  color: #bcbfc2;
  outline: none;
  border: none;
}

.arrowDeposit.limit {
  position: absolute;
  right: -10%;
  transform: rotate(180deg);
  top: 50%;
}

.depositLimit .suspendButton {
  margin: 0;
  margin-bottom: 20px;
  margin-top: 24px;
}

.suspendButton button {
  border: 0;
  height: 48px !important;
}

.selectDepositDiv {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn:hover {
  color: white !important;
}

.arrow-top > img:hover {
  cursor: pointer;
}

.arrow-top {
  margin: 15px 0;
}

#react-select-3-input:focus {
  background-color: var(--global-color-secondary) !important;
}

#react-select-3-input:active {
  background-color: var(--global-color-secondary) !important;
}

.depositModalLimit {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-block: 28px 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--global-color-text-primary);
}

.periodLine {
  background-color: #fff;
  width: 37px;
  height: 4px;
  border-radius: 4px;
}

.periodList {
  height: 40%;
  overflow-y: scroll;
}

.depositModal {
  overflow: hidden;
}

.depositModalLimitReminder {
  line-height: auto;
  width: 327px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 34px;
  line-height: 38px;
  color: var(--global-color-text-primary);
  margin-top: 44px;
  margin-bottom: 22px;
}

.gaming-alert-button {
  border-radius: 10px;
  background-color: #353a40;
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  margin-bottom: 200px;
}

.setLimit {
  background-color: var(--global-color-secondary);
  border-radius: 10px;
  color: #bcbfc2;
  width: 100%;
  height: 50px;
  text-indent: 10px;
  position: relative;
  text-align: start;
  padding: 0 !important;
}

.gaming-reminder-accept-button,
.gaming-reminder-history-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 327px;
  background: transparent;
  border-radius: 10px;
  color: #ffff;
  height: 48px;
}

.gaming-reminder-history-button {
  border: 1px solid #bc9239 !important;
  margin-bottom: 16px;
}

.gaming-reminder-accept-button {
  background: #bc9239;
  margin-bottom: 46px;
}

.gaming-reminder-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gaming-reminder-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-gaming-reminder {
  color: #ffff;
}

.modal-footer.limit {
  max-width: 327px;
}

.setLimit .setLimit:hover {
  background-color: var(--global-color-secondary) !important;
  color: #bcbfc2 !important;
}

.depositLimitArrow {
  position: absolute;
  right: 5%;
  top: 40%;
  transform: rotate(180deg);
}

.setLimitBtn {
  height: 50px !important;
  margin-top: unset !important;
  padding: 0 !important;
  background: var(--global-color-button-primary);
}

.setLimitBtn.disable {
  background: var(--global-color-secondary);
}

.setLimitBtn:hover {
  background-color: var(--global-color-tertiary) !important;
  color: #ffff !important;
}

.modal-footer.limit {
  padding: 0 !important;
  margin-top: 1rem;
}

.depositLimit {
  position: relative;
  margin-left: 450px;
  padding-top: 45px;
}

.depositBody {
  max-width: 560px;
}

.depositBodyTransaction {
  max-width: 560px;
}

.setLimitBtn2:hover {
  background-color: var(--global-color-tertiary) !important;
}

.finishBtn2 {
  height: 35px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 4rem;
  width: 327px;
}

.setLimitBtn2 {
  height: 50px !important;
  width: -moz-fit-content;
  margin-top: unset !important;
}

.max-width-confirmContainer {
  max-width: 920px;
}

.confirmDepositLimit {
  position: relative;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.confirmContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 40px;
  width: 100%;
  height: 512px;
}

.confirmImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.confirmTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 15px;
  width: 100%;
  height: 81px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.confirmHeader {
  height: 42px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 0;
}

.confirmHeader2 {
  height: unset;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 0;
}

.secondHeader {
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 0;
}

.confirmButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 165px;
  height: 136px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.confirmFirstButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 165px;
  height: 34px;
  background: #8e8f91;
  border-radius: 100px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: black;
}

.confirmArrows {
  width: 30px;
  height: 36px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.confirmSecondButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 165px;
  height: 34px;
  background: #ffffff;
  border-radius: 100px;
  flex: none;
  order: 2;
  flex-grow: 0;
  color: black;
}

.confirmDepositButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 100%;
}

.confirmFirstDepositButton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 100%;
  height: 48px;
  border: 1px solid #bc9239 !important;
  border-radius: 10px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: transparent;
}

.confirmSecondDepositButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 100%;
  height: 48px;
  background: linear-gradient(
      186.6deg,
      rgba(255, 255, 255, 0.2) 5.18%,
      rgba(255, 255, 255, 0) 69.62%
    ),
    #bc9239;
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.depositSkeleton {
  width: 100% !important;
  height: 50px !important;
  margin-top: 0 !important;
  border-radius: 10px;
}

.goBackArrowDeposit {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  padding-right: 450px;
}

.confirm-modalContent {
  overflow: auto;
}

.depositLimit-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.depositLimit-input-container {
  position: relative;
  min-width: 156px;
  flex: 0 0 156px;
  height: 48px;
}

.depositLimit-input {
  width: 100%;
  height: 100%;
  background-color: var(--global-color-secondary);
  border-radius: 6px;
  color: var(--global-color-text-primary);
  border: none;
  padding-left: 12px;
  padding-right: 45px;
  font-size: 14px;
  text-indent: 0;
}

.depositLimit-currency {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--global-color-text-gray);
  font-size: 14px;
}

.depositModal-dialog {
  max-width: 568px;
}

@media screen and (max-width: 1024px) {
  .gaming-reminder-history-button,
  .gaming-reminder-accept-button {
    width: 100%;
  }

  .gaming-alert-button {
    margin-bottom: 0;
  }

  .depositBody {
    max-width: 100%;
    width: 100%;
    margin: auto;
    padding-right: 0px;
  }

  .menuTitle {
    min-width: 330px;
  }

  .setLimitBtn {
    width: 100%;
  }

  .confirmDepositLimit {
    height: 100%;
    justify-content: space-between;
    padding-top: 30px;
  }

  .max-width-confirmContainer {
    max-width: 920px;
  }

  .confirmContainer {
    width: 100%;
  }

  .confirmTextContainer {
    width: 100%;
  }

  .confirmButtonsContainer {
    width: 100%;
  }

  .confirmHeader {
    font-size: x-large;
  }

  .secondHeader {
    font-size: small;
  }

  .confirmFirstDepositButton {
    width: 100%;
  }

  .confirmSecondDepositButton {
    width: 100%;
  }

  .goBackArrowDeposit {
    position: fixed;
    top: 2%;
    left: 3%;
    right: 100%;
    padding-top: 0;
    padding-left: 0;
  }

  .confirm-modalContent {
    height: unset;
  }

  div:has(.gamblingContainer) {
    height: calc(100vh - 56px);
  }

  .depositModal-dialog,
  .gamblingContainer {
    max-width: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .depositLimit {
    width: 100%;
    padding-left: 0;
    margin: 0;
  }

  .depositBodyTransaction {
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding-right: 0px;
  }
}
