:root {
  /* Fonts */

  --global-font-montserrat: "Montserrat";
  --bs-body-font-family: "Montserrat", sans-serif;

  /* Main Colors */

  --global-color-icon-background: #d6c08f; /* arrows, betslip and profile icons */
  --global-color-icon: #ffffff; /* arrows, betslip, profile, close icons */
  --global-color-text: #ffffff; /* carousel, side-text */
  --global-color-text-secondary: #ffffff; /*registration pages or pages with a background image*/
  --global-color-background: #1b1c21; /* carousel background, collapsed button, preferences */
  --global-color-selected: rgba(188, 146, 57, 0.07); /*selected*/

  /* Header / Nav Bar */

  --global-color-header-text: #ffffff;
  --global-color-header-text-active: #c59e43;
  --global-color-header-side-text: #c59e43;
  --global-color-header-background: #2b2f34;
  --global-color-header-background_side_bacground: #c59e43;

  /* Sidebar */

  --global-color-sidebar-background: #1b1c21;
  --global-color-sidebar-selection: #353a40;
  --global-color-sidebar-text: #ffffff;
  --global-color-sidebar-field-selected: rgba(199, 146, 57, 7%);
  --global-color-sidebar-field-selected-sideline: #bc9239;
  --global-color-sidebar-icons: #ffffff;
  --global-color-sidebar-icons-background: #414851;
  --global-color-sidebar-chat_icon-background: #c59e43;

  /* Trader Chat */

  --global-color-trader-chat-primary: #c59e43;
  --global-color-trader-chat-primary-text: #ffffff;
  --global-color-trader-chat-background: #ffffff;
  --global-color-trader-chat-bubble1: #ebe1d2;
  --global-color-trader-chat-bubble1-text: #2b2f34;
  --global-color-trader-chat-bubble2: #ebebeb;
  --global-color-trader-chat-bubble2-text: #2b2f34;
  --global-color-trader-chat-secondary-text: #414851;

  /* Footer */

  --global-color-footer-background: #25292d;
  --global-color-footer-text-primary: #ffffff;
  --global-color-footer-text-secondary: #bcbfc2;
  --global-color-language-selector: #353a40;

  /* Carousel */

  --global-color-carousel-dots-active: #c59e43;
  --global-color-carousel-dots-inactive: #ffffff;

  /* Links */

  --global-color-links-background: linear-gradient(
    180deg,
    #dbb86d 0%,
    #bc9239 100%
  ); /*carousel - casino, main page*/
  --global-color-links-text: #ffffff;

  /* Casino */

  --global-color-casino-background: #25292d; /* background */
  --global-color-casino-text1: #ffffff;
  --global-color-casino-text2: #d6c08f;

  /* Buttons */

  --global-color-buttons-background: linear-gradient(
    180deg,
    #c8a65c 0%,
    #bc9239 100%
  );
  --global-color-buttons-text: #ffffff;
  --global-color-buttons-background-disabled: #353a40;
  --global-color-buttons-text-disabled: #bcbfc2;

  /* Chips */

  --global-color-chip-round-background: #414851;
  --global-color-chip-round-text: #ffffff;
  --global-color-chip-round-background-disabled: #2b2f34;
  --global-color-chip-round-text-disabled: #bcbfc2;
  --global-color-chip-cube-background: #c59e43;
  --global-color-chip-cube-text: #ffffff; /* live race, selected race, horse racing, greyhound */
  --global-color-chip-cube-background-disabled: #414851; /* time race, race name */
  --global-color-chip-cube-text-disabled: #c59e43; /* time race, race name */
  --global-color-chip-cube1-text: #c59e43;
  --global-color-chip-cube1-background: #353a40;
  --global-color-chip-cube1-stroke-background: #c59e43;
  --global-color-chip-line-text-active: #ffffff;
  --global-color-chip-line-text-inactive: #bcbfc2;
  --global-color-chip-line-active: #c59e43;
  --global-color-chip-line-inactive: #353a40;

  /* Bet Slip */

  --global-color-betslip-background: #1b1c21; /*border, background */
  --global-color-betslip-background-secondary: #ffffff;
  --global-color-betslip-background-tertiary: #2b2f34;
  --global-color-betslip-background-quaternary: #25292d;
  --global-color-betslip-header: #25292d;
  --global-color-betslip-selector-inactive: #2b2f34;
  --global-color-betslip-selector-active: #353a40;
  --global-color-betslip-selector-secondary-inactive: #25292d;
  --global-color-betslip-selector-secondary-active: #414851;
  --global-color-betslip-button-active: #c59e43;
  --global-color-betslip-button-inactive: #6d6d6d;
  --global-color-betslip-border-secondary: #414851;
  --global-color-betslip-shade-primary: #353a40; /* remove bets */
  --global-color-betslip-shade-secondary: #414851; /* return and balance */
  --global-color-betslip-shade-tertiary: #414851; /* alert */
  --global-color-betslip-shade-quaternary: #647f98; /*button alternative*/
  --global-color-betslip-shade-quinary: #ad0e3e; /*offer, error offer*/
  --global-color-betslip-shade-senary: #1a835c;
  --global-color-betslip-text-primary: #ffffff; /* header, buttons */
  --global-color-betslip-text-secondary: #bcbfc2; /*non active selector text*/
  --global-color-betslip-text-tertiary: #ffffff; /*body, returns, balance*/
  --global-color-betslip-text-quaternary: #c59e43; /*match*/
  --global-color-betslip-text-quinary: #fdc500; /*returns,balance after, deposit alert*/
  --global-color-betslip-text-senary: #353a40;
  --global-color-betslip-live: #00ff00; /*live games*/
  --global-color-betslip-icons: #c59e43;

  /* Notification */

  --global-color-notification-background: #353a40;
  --global-color-notification-background-secondary: rgba(245, 196, 81, 0.1);
  --global-color-notification-text: #ffffff;
  --global-color-notification-success: #036fee;
  --global-color-notification-error: #ad0e3e;

  /* Odds*/

  --global-color-odds-text-primary: #25292d;
  --global-color-odds-text-secondary: #ffffff;
  --global-color-odds-text-tertiary: #bcbfc2;
  --global-color-odds-shade-primary: #c59e43;
  --global-color-odds-shade-secondary: #e2e9f0;
  --global-color-odds-shade-tertiary: #f6afaf;
  --global-color-odds-shade-quaternary: #bbf3c7;
  --global-color-odds-shade-quinary: #6d6d6d;

  /*Price*/

  --global-color-price-text: #bcbfc2;
  --global-color-price-shortening: #1a835c;
  --global-color-price-drifting: #ad0e3e;
  --global-color-price-suspended: #6d6d6d;
  --global-color-price-selected: #c59e43;
  --global-color-price-boost: rgba(245, 196, 81, 0.1);

  /*Settings */

  --global-color-settings-text-primary: #ffffff;
  --global-color-settings-text-secondary: #e20b5c; /*required*/
  --global-color-settings-text-tertiary: #2b2f34;
  --global-color-settings-shade-primary: #3a3c42;
  --global-color-settings-shade-secondary: #1b1c21;
  --global-color-settings-line: rgba(245, 196, 81, 0.1);
  --global-color-settings-shade-icons-primary: #ffffff;
  --global-color-osettings-shade-icons-secondary: #c59e43;

  /* Sports Table */

  --global-color-table-background: #1b1c21; /* background */
  --global-color-table-header-primary: #25292d; /* header 1, sport field */
  --global-color-table-header-secondary: #2b2f34; /* header 2 */
  --global-color-table-header-tertiary: #353a40; /* header 3 */
  --global-color-table-grid-background: #414851; /* grid */
  --global-color-table-grid-border: #353a40;
  --global-color-table-text-primary: #ffffff; /* header 1, header 2, header 3 */
  --global-color-table-text-secondary: #ffffff; /* grid */
  --global-color-table-text-odds-primary: #c59e43; /* odds, vs */
  --global-color-table-text-odds-secondary: #ffffff; /* odds selected */
  --global-color-table-text-vs-background: rgba(245, 196, 81, 0.1);

  /* //// */

  /* Main Colors */
  --global-color-primary: #c59e43;
  --global-color-secondary: #d6c08f;

  /* Background */
  --global-color-background-quaternary: #353a40;
  --global-color-background-tertiary: #2b2f34;
  --global-color-background-primary: #1b1c21;
  --global-color-background-secondary: #25292d;
  --global-color-background-quinary: #414851;
  --global-color-background-senary: #ffffff;

  /* Shade */
  --global-color-shade-dark: #191919;
  --global-color-shade3: #282626;
  --global-color-shade4: #6d6d6d;
  --global-color-shade6: #2e3034;
  --global-color-shade7: #404246;
  --global-color-shade8: #45494f;
  --global-color-shade9: #676767;

  /* Prices */
  --global-color-price-primary: #ad0e3e;
  --global-color-price-secondary: #1a835c;
  --global-color-price-tertiary: #6d6d6d;
  --global-color-price-quaternary: #647f98;
  --global-color-price-quinary: #e2e9f0;
  --global-color-price-senary: #f6afaf;
  --global-color-price-septenary: #bbd8f3;
  --global-color-price-octonary: #bbf3c7;
  --global-color-price-nonary: #33b281;
  --global-color-price-denary: #1a9cc7;

  /* Odds */
  --global-color-rose: #e434a3;
  --global-color-blue: #35a8e0;
  --global-color-bullet-point: #c59e43;
  --global-color-win-button: #34b280;
  --global-color-suspended-button: #faff00;
  --global-color-suspended: #e22727;
  --global-color-gold-button: #bc9239;

  /* Text */
  --global-color-text-primary: #ffffff;
  --global-color-text-tertiary: #fdc500;
  --global-color-text-secondary: #bcbfc2;
  --global-color-text-quinary: #2b2f34;
  --global-color-text-quaternary: #00ff00;

  /* Notifications */
  --global-color-notiffication-success: #036fee;

  /* Buttons */
  --global-color-button-secondary: #808080;

  /* Gradients */
  --global-color-linear-primary: linear-gradient(
      186.6deg,
      rgba(255, 255, 255, 0.2) 5.18%,
      rgba(255, 255, 255, 0) 69.62%
    ),
    #bc9239;
  --global-color-swifty-gradient: linear-gradient(
    158.32deg,
    #ff005f 10.33%,
    #109ff2 108.66%
  );
  --global-color-linear-secondary: linear-gradient(
    180.02deg,
    #34393f 0.02%,
    #000000 284.75%
  );
  --global-color-linear-tertiary: linear-gradient(
    135.53deg,
    #ff3364 19.83%,
    #bb34ff 50.53%,
    #3586ff 80.25%
  );

  --toastify-toast-width: auto !important;
}

html,
body {
  overflow-x: hidden;
  background: var(--global-color-background-primary) !important;
  height: 100%;
}

input::placeholder {
  font-size: 16px;
}

textarea:focus-visible,
input:focus-visible {
  outline: none;
}

.Toastify__toast {
  background-color: var(--global-color-notification-background) !important;
  color: var(--global-color-notification-text) !important;
  border-radius: 10px;
  border-left: 10px solid var(--global-color-notification-error);
  margin-top: 2rem;
  margin-right: 1rem;
  width: auto;
  padding: 0 20px;
}

.Toastify__toast--success {
  border-left: 10px solid var(--global-color-notification-success);
}

.Toastify__toast-container--top-right {
  top: 1em;
  right: 0em !important;
  width: var(--toastify-toast-width);
}

.Toastify__close-button {
  opacity: 1;
  width: 24px;
  height: 24px;
  top: 30%;
  right: 13px;
  position: absolute;
  text-align: center;
}

.Toastify__toast-body {
  padding: 0;
}

.Toastify__toast-body > div:last-child {
  padding-right: 25px;
  padding-left: 10px;
}

body.opened::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.48);
  z-index: 999;
}

/* Button */
.btnPrimary {
  background: var(--global-color-buttons-background);
  color: var(--global-color-buttons-text);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.borderedButton {
  background: var(--global-color-background-quaternary);
  color: var(--global-color-text-secondary);
  border-radius: 8px;
  border: 1px solid var(--global-color-primary) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--global-color-background-quaternary);
}

.btnSecondary {
  width: 100%;
  background: var(--global-color-button-secondary);
  color: var(--global-color-text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.btnSecondary.place-bet-button {
  border-radius: 0 0 6px 6px;
  color: var(--global-color-text-primary);
  font-size: 14px;
}

.btnAction {
  width: 100%;
  background: var(--global-color-price-quaternary);
  color: var(--global-color-text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  height: 50px;
}

.btnGray {
  background-color: var(--global-color-chip-cube-background-disabled);
  color: var(--global-color-chip-cube-text-disabled);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnBorder {
  background-color: var(--global-color-chip-cube1-background);
  border: 1px solid var(--global-color-chip-cube1-stroke-background);
  color: var(--global-color-chip-cube1-text);
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerrWhithSidebar {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav article ads"
    "nav footer ads";
  grid-template-rows: 74px calc(100vh - 430px) 340px;
  grid-template-columns: 265px calc(100% - 572px) 307px;
  height: 100vh;
  width: 100vw;
  margin: 0;
  color: var(--global-color-text-primary);
  overflow-x: hidden;
}

.MuiTabs-flexContainer .MuiButtonBase-root {
  border-bottom: 4px solid var(--global-color-chip-line-inactive);
  padding-top: 0;
  padding-bottom: 0;
}

.MuiTabs-flexContainer button {
  font-size: 10px;
  font-family: var(--bs-body-font-family);
}

.Mui-selected {
  color: var(--global-color-chip-line-text-active) !important;
}

.MuiTabs-indicator {
  height: 4px !important;
  background: var(--global-color-chip-line-active) !important;
}

.MuiSwitch-switchBase {
  padding: 0 !important;
}

.MuiPaper-root.MuiAutocomplete-paper {
  box-shadow: -2px 5px 15px 0px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

.MuiTabs-flexContainer button {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.MuiPaper-root.MuiPaper-elevation,
.MuiInputBase-root.MuiOutlinedInput-root,
.MuiButtonBase-root.MuiTab-root {
  font-family: inherit;
}

.accordion-item {
  border: 0;
  background: transparent;
}

.accordion-item button:focus {
  box-shadow: none;
}

.containerr {
  grid-template-columns: 64px calc(100% - 367px) 307px;
}

.header {
  grid-area: header;
}

.pageFooter {
  grid-area: footer;
  margin-top: auto;
}

.shortContentStyle {
  margin-top: 450px;
}

.mainArticle {
  grid-area: article;
  display: flex;
  flex-direction: column;
  min-height: 600px;
}

.mainNav {
  transition: 0.5;
  grid-area: nav;
}

.siteAds {
  grid-area: ads;
}

.full-screen-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--global-color-background-secondary);
  z-index: 1000;
  overflow-y: hidden;
  padding-right: 0;
}

.full-screen-modal body {
  background: var(--global-color-background-secondary);
  color: var(--global-color-text-primary);
}

.close-full-modal-container {
  display: flex;
  height: 100%;
  width: 100px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(0deg, #bc9239, #bc9239),
    linear-gradient(0deg, rgba(106, 47, 47, 0.2), rgba(106, 47, 47, 0.2)),
    linear-gradient(180deg, #f4176a 0%, rgba(255, 3, 98, 0) 100%), #c2034b;
}

.close-full-modal-container svg {
  height: 30px;
  width: 30px;
}

.nav-skeleton {
  height: 0 !important;
}

.newPassChecks {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  color: var(--global-color-text-primary);
}

.newPasswordLabel {
  color: var(--global-color-text-primary);
  padding: 10px;
  display: flex;
}

.container-fluid {
  position: relative;
  padding-left: 50px;
  height: 60px;
}

.decimalText {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: var(--global-color-text-primary);
  margin: 14px;
}

.closeIconSus {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  right: 2rem;
  cursor: pointer;
  top: 2rem;
}

.depositModalLimit {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-block: 28px 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--global-color-text-primary);
}

.searchStyle {
  margin-bottom: 30px;
}

.dot {
  background: #bcbfc2;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
}
.valid {
  background: var(--global-color-bullet-point);
}

.home-slider-container-skeleton {
  display: flex;
  justify-content: space-around;
}

.sportsBackground {
  background: var(--global-color-casino-background);
  padding: 20px 0;
}

.App-header {
  background: var(--global-color-background-secondary);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App {
  overflow: hidden;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

#root::-webkit-scrollbar {
  display: none !important;
}

#root {
  -ms-overflow-style: none !important;
  /* IE and Edge */
  scrollbar-width: none !important;
  /* Firefox */
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.modal {
  background: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(2px);
}

.gaming-reminder-logo {
  margin-top: 46px;
}

.header-of-error-component {
  padding-top: 38px;
  padding-left: 38px;
}

.accordion-item:last-of-type .accordion-button.collapsed,
.accordion-item:first-of-type .accordion-button,
.accordion-item:last-of-type .accordion-collapse {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.modal.show .modal-dialog {
  transform: translateY(-50%);
}

.modal-content {
  background: var(--global-color-background-secondary);
  border-radius: 10px;
  border: none;
  align-items: center;
}

.gaming-reminder-accept-button,
.gaming-reminder-history-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 327px;
  background: transparent;
  border-radius: 10px;
  color: var(--global-color-buttons-text);
  height: 48px;
}

.gaming-reminder-history-button {
  border: 1px solid var(--global-color-gold-button) !important;
  margin-bottom: 16px;
}

.gaming-reminder-accept-button {
  background: var(--global-color-buttons-background);
  margin-bottom: 46px;
}

.depositModalLimitReminder {
  line-height: auto;
  width: 327px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 34px;
  line-height: 38px;
  color: var(--global-color-text-primary);
  margin-top: 44px;
  margin-bottom: 22px;
}

@media screen and (max-width: 1400px) {
  .mainArticle-skeleton {
    width: 100vw;
    padding: 0px;
  }

  .nav-skeleton {
    height: 0 !important;
  }

  .sidebar-animation-skeleton {
    width: 80px !important;
  }

  .footballContainer {
    display: block;
    margin-top: 56px;
  }

  .containerrWhithSidebar {
    grid-template-areas:
      "header header header"
      "nav article article"
      "nav footer ads";
    grid-template-rows: 74px calc(100vh - 430px) 356px;
    grid-template-columns: 265px calc(100% - 265px) 0px;
    height: 100vh;
    width: 100vw;
  }

  .container-of-skeleton-in-markets {
    display: contents;
  }

  .containerr {
    grid-template-columns: 60px calc(100% - 60px) 0px;
  }
}

@media screen and (max-width: 1024px) {
  .mainArticle-skeleton {
    padding: 0 !important;
  }

  .sidebar-animation-skeleton {
    width: 0;
  }

  .mainArticle {
    padding: 0;
  }

  .sports-body {
    padding: 0 12px;
  }

  .containerrWhithSidebar {
    grid-template-areas:
      "header header header"
      "article article article";
    grid-template-rows: 56px calc(100vh - 56px) 0px;
    grid-template-columns: 0px 100% 0px;
    width: 100%;
  }

  .close-full-modal-container svg {
    height: 20px;
    width: 20px;
  }

  .modal.show .modal-dialog {
    transform: translateY(0);
  }
}

@media screen and (min-width: 1401px) {
  .skeleton-large-screen {
    padding: 26px;
  }

  .sidebar-animation-skeleton {
    width: 270px;
  }

  .containerrWhithSidebar {
    grid-template-columns: 200px calc(100% - 507px) 0px;
  }

  .containerWithSidebar {
    grid-template-columns: 0px calc(100% - 307px) 0px;
  }

  .sports-body {
    padding-top: 16px;
  }
}

@media screen and (max-width: 991px) {
  .mainArticle {
    justify-content: space-between;
  }
}

@media screen and (max-width: 480px) {
  .Toastify__toast {
    border-radius: 8px;
    margin: 1rem;
  }
}
