.banner-menu {
  position: relative;
}

.banner-menu-filter {
  display: flex;
  gap: 12px;
  overflow: auto;
}

.banner-menu-content {
  position: absolute;
  left: 16px;
  bottom: 12px;
  width: calc(100% - 34px);
  color: var(--global-color-text-primary);
}

.banner-menu-title {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.banner-menu-subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
}

.banner-menu-button {
  padding: 4px 16px;
  border-radius: 100px;
  background: var(--global-color-chip-round-background-disabled);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--global-color-chip-round-text-disabled);
  white-space: nowrap;
}

.banner-menu-button.selected {
  background: var(--global-color-chip-round-background);
  color: var(--global-color-chip-round-text);
}

button.btnPrimary.cta {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 10px;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .banner-menu {
    height: 91px;
  }

  .banner-menu-button {
    padding: 5px 16px;
    line-height: 24px;
  }
}
