.playerId {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: var(--global-color-text-primary);
  word-break: break-word;
  overflow-wrap: break-word;
  width: 80%;
}
.fieldSubTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: var(--global-color-text-primary);
  margin-top: 1rem !important;
}
.cursorPointer {
  cursor: pointer;
}
.infoDiv.profile {
  position: relative;
  margin-left: 10px;
}
.profileArrow {
  position: absolute;
  right: 5%;
  transform: rotate(90deg);
  top: 45%;
}
.profileValidated {
  position: absolute;
  right: 5%;
  top: 35%;
}
.notVerified {
  color: #f5337c;
  font-size: 14px;
}
.changePw {
  cursor: pointer;
}
.changePass {
  margin-top: 3rem;
  width: 650px;
}
.logInTitle.profile {
  margin-top: 1rem;
  font-size: 22px;
}
.btn-close {
  color: white !important;
  background: url(../../assets/images/closeIcon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 10%;
  opacity: 1;
  outline: none;
}
.btn-close:focus,
.btn-close:active {
  outline: none;
}
.modal-content.changePass {
  position: relative;
}
.changeTop {
  top: 17%;
}
.profileRow {
  max-width: 454px;
  width: 100%;
}
.clickable {
  cursor: pointer;
}
.pageContent {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 991px) {
  .pageContent {
    max-width: 327px;
    width: 100%;
    padding-right: 0;
    width: 327px;
    padding-top: 0;
  }
  .changePass {
    width: auto;
    margin-top: 0px;
  }
  .contentPosition {
    display: flex;
    justify-content: center;
  }

  .secondContentPosition {
    display: flex;
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 350px) {
  .playerId {
    font-size: 14px;
    line-height: 20px;
  }
}
.minimzedSidebarStyle {
  border-left: 2px solid red;
}
.minim {
  margin-left: -2px !important;
}
