.navBarLinks .sports-header-link span {
  width: 68px;
  height: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.navBarLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 74px;
  padding: 0 60px;
}

.navBarLinks .arrow-wrapper.next {
  right: -43px;
  box-shadow: none;
}

.navBarLinks .arrow-wrapper.previous {
  left: -43px;
  box-shadow: none;
}

.navbar {
  background: var(--global-color-header-background);
}

.sports-header-link {
  cursor: pointer;
  background-color: initial;
  text-decoration: none;
}

.navBarLinks .sports-header-link {
  text-decoration: none;
  font-style: normal;
  font-size: 1rem;
  line-height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-right: 27px;
}

.navBarLinks img {
  margin-right: 4px;
}

.sing-up-txt {
  height: 74px;
  background: var(--global-color-header-background_side_bacground);
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 296px;
  padding: 0 20px;
  cursor: pointer;
}

.sing-up-txt.between-container {
  justify-content: space-between;
}

.container-nav-links {
  height: 100%;
  overflow: hidden;
}

.slip-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--global-color-icon-background);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.slip-icon-loggedOut {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  background: var(--global-color-icon-background);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.total-slip-bets {
  position: absolute;
  top: -4px;
  right: -6px;
  display: inline-flex;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 24px !important;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: var(--global-color-header-text);
  color: var(--global-color-header-text-active) !important;
}

.sing-up-txt span {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--global-color-header-text);
}

.swifty-gaming-logo img {
  padding-left: 30px;
}

.swifty-gaming img {
  padding-left: 1rem;
  height: 25px;
}

.navigation {
  background: var(--global-color-header-background);
  height: 74px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.noVerified {
  height: 108px;
}

.navigation > .noVerifiedMsg {
  display: none;
}

.noVerified > .noVerifiedMsg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  background-color: #f5c4511a;
  position: relative;
}

.noVerifiedMsg > a {
  text-decoration: underline !important;
  font-size: 14px;
  color: var(--global-color-text-primary);
  line-height: 24px;
  font-weight: 600;
}

.close-noVerifiedMsg {
  position: absolute;
  right: 28px;
}

.primary-col {
  height: inherit;
}

.signText {
  color: var(--global-color-header-text);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: unset;
  text-align: right;
  text-transform: uppercase;
}

.mobileAccInfo {
  cursor: pointer;
  width: auto;
  font-size: 12px;
}

.header-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.balanceText {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
}

.balanceAmount {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
}

.profileImage {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
}

.gamingMobile {
  position: absolute;
  left: 8%;
  top: 25%;
}

.headerContent {
  height: 48px;
}

.menuIcon {
  margin-right: 12px;
  cursor: pointer;
}

.profileMenuMobile {
  height: max-content;
  overflow-y: hidden;
  background: var(--global-color-background-quaternary);
}

.header-link {
  display: flex;
  align-items: center;
}

.header-link:hover img {
  fill: var(--global-color-header-icons-active);
  cursor: pointer;
}

.header-link:hover img {
  fill: var(--global-color-header-icons-active);
  stroke: var(--global-color-header-icons-active);
}

.header-link:hover span {
  color: var(--global-color-header-text-active);
}

.user-profile-grid {
  display: flex;
  width: 100%;
  padding: 0 10px;
}

.user-profile-flex {
  justify-content: space-between;
}

.signInContainer {
  display: flex;
}

.logo {
  max-height: 32px;
}

.balanceAmountContainer {
  min-width: 74px;
  margin-left: 12px;
}

.headerItem {
  display: flex;
  align-items: center;
  color: var(--global-color-header-text);
  text-align: center;
  transition: 0.2s ease;
}

.headerItem img {
  height: 15px;
  width: 15px;
  cursor: pointer;
  transition: 0.2s ease;
}

.headerItem:hover,
.headerItem.active {
  color: var(--global-color-header-text-active);
}

.headerItem:hover img,
.headerItem.active img {
  filter: invert(58%) sepia(55%) saturate(502%) hue-rotate(3deg) brightness(92%)
    contrast(86%);
}

@media screen and (max-width: 1024px) {
  .noVerified {
    height: 90px !important;
  }

  .slip-icon,
  .profileImage {
    margin-right: 12px;
  }

  .slip-icon-loggedOut,
  .slip-icon,
  .profileImage {
    height: 32px;
    width: 32px;
  }

  .signText {
    font-size: 12px;
  }

  .sing-up-txt,
  .navigation {
    height: 56px;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  .mobileAccInfo {
    padding: 10px 16px;
  }

  .mobileAccInfo.unlogged {
    width: 230px;
    padding: 10px 16px;
  }

  .navBarLinks {
    height: 56px;
  }

  .navBarLinks .sports-header-link span {
    font-size: 12px;
  }

  .navBarLinks .sports-header-link {
    margin-right: 20px;
  }
}

@media (max-width: 600px) {
  .header-link {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navBarLinks {
    background-color: var(--global-color-header-background);
    padding: 0px !important;
    margin-top: 2.6rem !important;
    padding-top: 20px !important;
  }

  .navBarLinks .col-12 {
    height: 1.9rem;
  }

  .navBarLinks {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    margin-top: 0rem !important;
    left: 0;
  }

  .balanceAmount {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .headerItem {
    display: block;
  }

  .headerItem span {
    margin-top: 4px;
    display: block;
    font-weight: 600;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .headerItem img {
    height: 22px;
    width: 22px;
  }
}
