.navBarLinks .sports-header-link span {
  width: 68px;
  height: 50px;
  font-family: var(--global-font-montserrat);
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
  text-transform: uppercase;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.navBarLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sports-header-link {
  cursor: pointer;
  background-color: initial !important;
  color: #fff;
  text-decoration: none !important;
}

.navBarLinks .sports-header-link:hover {
  color: white !important;
}

.navBarLinks .sports-header-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-right: 27px;
}

.navBarLinks img {
  margin-right: 4px;
}

.sing-up-txt {
  height: 74px;
  background: var(--global-color-tertiary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 305px;
  padding: 0px 20px;
  cursor: pointer;
}

.sing-up-txt.between-container {
  justify-content: space-between;
}

.slip-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #d6c08f;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
}

.slip-icon-loggedOut {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #d6c08f;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
}

.total-slip-bets {
  position: absolute;
  top: -4px;
  right: -6px;
  display: inline-flex;
  font-family: var(--global-font-medium) !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 24px !important;
  color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: var(--global-color-text-primary);
  color: var(--global-color-text-secondary) !important;
}

.sing-up-txt span {
  font-family: var(--global-font-black);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--global-color-text-primary);
}

.swifty-gaming-logo img {
  padding-left: 30px;
}

.swifty-gaming img {
  padding-left: 1rem;
  height: 25px;
}

.navbar {
  background: var(--global-color-shade5);
  height: 74px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.primary-col {
  height: inherit;
}

.signText {
  color: white;
  font-family: var(--global-font-montserrat);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: unset;
  text-align: right;
  text-transform: uppercase;
}

.mobileAccInfo {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  cursor: pointer;
  padding: 0 6px;
  width: auto;
}
.header-icon {
  cursor: pointer;
}
.balanceText {
  font-family: var(--global-font-medium);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  padding-top: 0.5rem;
}
.balanceAmount {
  font-family: var(--global-font-montserrat);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 0.5rem;
  text-align: right;
}
.profileImage {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.gamingMobile {
  position: absolute;
  left: 8%;
  top: 25%;
}
.headerContent {
  height: 48px;
}
.menuIcon {
  margin-right: 12px;
  cursor: pointer;
}

.profileMenuMobile {
  height: max-content;
  overflow-y: hidden;
  background: var(--global-color-secondary);
}

.header-link {
  display: flex;
  align-items: center;
}

.header-link:hover svg {
  fill: var(--global-color-tertiary);
  cursor: pointer;
}

.header-link:hover svg path {
  fill: var(--global-color-tertiary);
  stroke: var(--global-color-tertiary);
}

.header-link:hover span {
  color: var(--global-color-text-secondary);
}

.user-profile-grid {
  display: flex;
  width: 100%;
}

.user-profile-flex {
  justify-content: space-between;
}
.signInContainer {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .navBarLinks .sports-header-link span {
    font-size: 12px;
  }
  .navBarLinks .sports-header-link {
    margin-right: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .navBarLinks {
    padding-left: 30px;
  }
}

@media (max-width: 991px) {
  .swifty-gaming-logo {
    position: fixed;
  }
  .header-link {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navBarLinks {
    background-color: var(--global-color-shade5);
    padding: 0px !important;
    margin-top: 2.6rem !important;
    padding-top: 20px !important;
  }

  .navBarLinks .col-12 {
    height: 1.9rem;
  }
  .navBarLinks {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    margin-top: 0rem !important;
    left: 0;
  }
  .balanceAmount {
    font-size: 12px;
  }
  .navbar {
    height: 56px;
  }
  .signText {
    font-size: 12px;
  }
}

@media (max-width: 567px) {
  .signInContainer {
    display: none;
  }
}
