.header-notification {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 12px 30px;
  background-color: var(--global-color-main-background_tertiary);
  gap: 40px;
}

.notification-left-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  width: calc(100% - 45px);
}

.notification-text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: var(--global-color-main-text_primary);
  margin: 0;
}

.notification-button {
  padding: 5px 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--global-color-main-text_primary);
  background: var(--global-color-button-price_boost_background);
}