.footerMenu {
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: var(--global-color-shade5);
  height: 56px;
}
.footerMenuIcon {
  text-align: center;
  justify-content: center;
  display: flex;
}
.footerSport {
  color: white;
  font-size: 12px;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  font-weight: 600;
  display: flex;
  font-style: normal;
}
.footerIconsDiv {
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 80px;
}

.activeFooter {
  color: var(--global-color-text-secondary);
}
