.datePicker {
  position: relative;
}

.calendar {
  position: absolute;
  z-index: 1;
  border-radius: 8px;
  margin-top: 10px;
  width: 100%;
  background-color: var(--global-color-background-quaternary);
  border-color: var(--global-color-background-quaternary);
  color: var(--global-color-main-text_primary);
  overflow: hidden;
  font-family: inherit;
  box-shadow: 0px 0px 20px var(--global-color-header-background);
}

.calendar .abbr {
  color: var(--global-color-main-text_primary);
}

.calendar .react-calendar__tile--now,
.calendar .react-calendar__navigation__label {
  background-color: var(--global-color-background-quaternary);
}

.calendar button {
  color: var(--global-color-main-text_primary);
  transition: var(--global-transition);
}

.calendar .react-calendar__navigation button:hover,
.calendar .react-calendar__tile--now:hover,
.calendar button:focus,
.calendar button:hover {
  background: var(--global-color-button-text_inactive);
  color: var(--global-color-settings-button_text);
}

.calendar abbr[title] {
  text-decoration: none;
}

.calendar .react-calendar__tile--hasActive,
.calendar .react-calendar__tile--hasActive:hover,
.calendar .react-calendar__tile--active,
.calendar .react-calendar__tile--active:hover {
  background: var(--global-color-main-background_primary);
  color: var(--global-color-main-text_primary);
}

.datePicker .login-buttons {
  font-size: 14px;
}

@media only screen and (max-width: 1024px) {
  .datePicker .login-buttons {
    font-size: 14px;
  }
}