.saferTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: var(--global-color-text-primary);
}
.saferMessage {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--global-color-text-primary);
  padding-right: 25px;
}
.yellowDiv {
  background: var(--global-color-suspended-button);
  height: 50px;
  margin-left: 11px;
}
.saferDivs,
.yellowDiv {
  max-width: 450px;
  width: 100%;
}
.safer-gambling-information {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--global-color-text-primary);
  height: 100%;
}

.menuText button {
  width: 100%;
}
.funlabelPosition {
  margin-bottom: 0px !important;
}