.carousel-wrapper {
  width: 100%;
  position: relative;
}

.carousel-list {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

.carousel-list li {
  padding-top: 0;
}

.carousel-list > * {
  flex-shrink: 0;
}

::-webkit-scrollbar {
  display: none;
}

.carousel-item:hover .btnPrimary,
.carousel-item:hover .likeGame {
  display: block;
}

.arrow-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.arrow-wrapper.previous {
  left: 0;
}

.arrow-wrapper.next {
  right: 0;
}

.previousSvg,
.nextSvg {
  background: #c2ae82;
  border-radius: 17px;
  width: 27px;
  height: 27px;
  padding: 8px;
  box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.46);
  z-index: 1;
  cursor: pointer;
}

.previousSvg.disabled,
.nextSvg.disabled {
  background: rgba(193, 179, 147, 0.4);
}
