.newPasswordLabel {
    color: var(--global-color-text-primary);
    padding: 10px;
    display: flex;
}

.newPassChecks {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: var();
    margin-bottom: 8px;
}

.dot {
    background: var(--global-color-text-secondary);
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.valid {
    background: var(--global-color-bullet-point);
}

.password-container {
    position: relative;
}

.password_input {
    width: 24rem;
    height: 50px;
    color: var(--global-color-text-primary);
    background: var(--global-color-background-quaternary);
    border: 0;
    padding: 0 16px;
    box-sizing: border-box;
    border-radius: 10px;
    padding-right: 12%;
    text-align: left;
}

@media screen and (max-width: 991px) {
    .password_input {
        width: 100%;
    }
}