a {
  text-decoration: none !important;
  color: var(--global-color-sidebar-text);
  background-color: transparent !important;
}

.btn {
  text-align: start !important;
  padding: 0 !important;
}

.sidebarRow {
  flex-direction: row;
  display: flex !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding: 0 !important;
  height: 100%;
}

.btn-check:focus+.btn,
.btn:active,
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

.dropdown-menu.show {
  border: none;
}

.top {
  padding-bottom: 10px !important;
  padding-left: 12px !important;
  padding-top: 10px !important;
}

.arrow,
.arrowSecond {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  z-index: 99;
}

.arrow {
  top: 17%;
}

.arrowSecond {
  top: 6%;
}

.arrowIcon {
  margin-right: 1rem;
  width: 16px !important;
  cursor: pointer;
}

.popularDropdown,
.azDropdown {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: var(--global-color-sidebar-text) !important;
  outline: none;
  box-shadow: none;
  text-transform: uppercase;
}

#dropdownMenuButton1 {
  outline: none !important;
  border: none;
}

.dropdown-item {
  z-index: 1;
  position: relative;
  font-weight: 300;
  font-size: 16px !important;
  line-height: 20px !important;
  width: 100% !important;
  color: white !important;
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

.underline {
  border-bottom: 1px solid #1b1e21 !important;
}

.upperline {
  border-top: 1px solid #1b1e21 !important;
}

.dropdown-menu {
  z-index: 1;
  width: 100%;
  flex-direction: column;
  background: var(--global-color-background-quaternary);
}

.dropdown-toggle {
  white-space: normal;
}

.dropdown-toggle::after {
  border: 0 !important;
}

.dropdown-menu.show {
  z-index: 1 !important;
  position: relative !important;
  width: 100%;
  background: var(--global-color-background-quaternary);
  transform: translate3d(0px, 0px, 0px) !important;
  padding: 0;
  border-radius: 0;
}

.sidebar {
  position: absolute;
  top: 0;
  z-index: 10;
  background: var(--global-color-background-quaternary);
  padding: 0 !important;
  width: 200px;
  left: 0;
}

.sidebarContent {
  min-height: 100vh;
}

.dropdown {
  background-color: transparent;
}

.rotate {
  top: 50%;
  transform: rotate(180deg) !important;
}

.headTitles {
  position: relative;
  background: var(--global-color-background-quaternary);
}

.headTitles img {
  top: 50%;
}

.sidebarBox {
  display: flex;
  cursor: pointer;
  height: 60px;
  align-items: center;
}

.sidebarBox.active {
  background: var(--global-color-sidebar-field-selected);
}

.sport-d {
  height: 43px;
  cursor: pointer;
  align-items: center;
}

.sport-d > .popularDropdown.profile {
  font-size: 14px;
  line-height: 16px;
}

@media only screen and (max-width: 991px) {
  .sidebarMenu {
    margin-bottom: 30px;
    display: flex;
  }
}


@media only screen and (max-width: 991px) {
  .sidebar {
    width: 100%;
    top: 56px;
  }

  #dropdownMenuButton1 {
    padding-left: 2rem !important;
    width: 100%;
    position: relative;
    border-radius: 0;
  }

  .dropdown-item {
    padding-left: 2rem !important;
  }

  .arrowIcon {
    z-index: 999;
    position: absolute;
    right: 5%;
    top: 15%;
  }

  #sidebarRow {
    min-height: calc(100vh - 56px);
    width: 100%;
  }
}