.footer-container-div {
  background: linear-gradient(
    177.73deg,
    #34393f -669.58%,
    #000000 870.68%
  ) !important;
}
.container-fluid {
  position: relative;
  padding-left: 50px;
}
.footerContainerMenu {
  max-width: 920px;
  padding-bottom: 1.25rem;
  margin: 0 auto;
}
.footerContainerMenu a {
  font-family: var(--global-font-bold), sans-serif !important;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  text-decoration: none;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.8) !important;
}
.footerContainerMenu .footer-link {
  font-family: var(--global-font-bold), sans-serif !important;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  text-decoration: none;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.8) !important;
  height: 23px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.footerContainerMenu strong {
  font-size: 1rem;
  font-family: var(--global-font-black);
  font-style: normal;
  font-weight: 400;
  color: var(--global-color-text-primary);
}
.footerContainerMenu p {
  font-family: var(--global-font-montserrat);
  font-style: normal;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 0.875rem;
  color: rgba(255, 255, 255, 0.4);
}
.footerContainerMenu .footer-help-links {
  display: flex;
  justify-content: center;
}
.footerContainerMenu .footer-policy-links {
  display: flex;
  justify-content: center;
}
.footerContainerMenu .footer-social-links {
  display: flex;
  justify-content: flex-end;
}
.mobileVersionLinks span {
  line-height: 1.75rem;
  margin-bottom: 1rem;
  font-family: var(--global-font-black);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  color: var(--global-color-text-primary);
}
@media screen and (max-width: 992px) {
  .footer-container-div {
    padding-right: 2.5rem !important;
    padding-left: 2.5rem !important;
    padding-bottom: 3rem !important;
  }
  .mobileVersionLinks {
    display: block !important;
    margin-bottom: 1.7rem;
  }
  .mobileVersionLinks img {
    width: 1.125rem !important;
    height: 0.875rem !important;
    cursor: pointer !important;
  }
  .footer-items {
    margin-bottom: 2rem;
  }

  .footer-items div {
    margin-bottom: 0.5rem !important;
  }
  .footer-items a {
    font-family: var(--global-font-montserrat);
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem !important;
    text-decoration: none;
    font-weight: 300;
    color: var(--global-color-text-primary);
    opacity: 0.8;
  }
  .footerContainerMenu p {
    font-size: 0.625rem;
  }
}
