.empty-state {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 126px;
  width: 100%;
}

.empty-state-image {
  height: 36px;
  width: 36px;
  margin-bottom: 35px;
}

.empty-state-massage {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: var(--global-color-text-primary);
}
