.base-layout {
  margin-top: 74px;
  min-height: calc(100vh - 74px);
}

.kyc-status {
  margin-top: 108px;
  min-height: calc(100vh - 108px);
}

.base-layout.not-found {
  margin-top: 0;
}

@media (max-width: 1024px) {
  .base-layout {
    margin-top: 56px;
    min-height: calc(100vh - 56px);
  }

  .kyc-status {
    margin-top: 90px;
    min-height: calc(100vh - 90px);
  }
}
