.lets-play {
  width: 100%;
  background-color: var(--global-color-main-background_tertiary);
  padding-bottom: 30px;
}

.descriptionStyleOfPlay {
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  color: var(--global-color-main-text_secondary);
}
.descriptionStyleOfPlayFirst {
  font-weight: 400;
  font-size: 32px;
  color: var(--global-color-main-text_primary);
  margin-bottom: 30px;
}
.home-live-matches-footer {
  margin: 0 auto;
  display: flex;
  gap: 40px;
  max-width: 920px;
  background-color: var(--global-color-main-background_tertiary);
}
.containerOfLiveGamesFooter {
  display: flex;
  flex-direction: column;
  width: 33.33%;
}
.titleOfLiveGames {
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--global-color-main-text_primary);
  margin-bottom: 6px;
}
.paragraphOfLiveGame {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: var(--global-color-main-text_primary);
}

@media (max-width: 1024px) {
  .descriptionStyleOfPlay {
    margin-bottom: 22px;
  }

  .home-live-matches-footer {
    flex-direction: column;
    gap: 0px;
    margin: 0px 60px;
    display: flex;
  }

  .containerOfLiveGamesFooter {
    width: auto;
  }
  .containerOfLiveGamesFooter:last-child {
    margin-bottom: 30px;
  }
}
