.selectDecimal {
  background: var(--global-color-secondary);
  border-radius: 10px;
  border: none;
  position: relative;
  cursor: pointer;
  width: auto;
  width: 327px;
  border: 1.5px solid transparent;

}
.decimalText {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: var(--global-color-text-primary);
}
.countryModalText {
  font-size: 16px !important;
  line-height: 20px;
}
.selectedOdd {
  border: 1.5px solid var(--global-color-gold-button);
}
.oddsSelected {
  position: absolute;
  right: 3%;
  top: 25%;
}
.searchStyle {
  margin-bottom: 30px;
  margin-top: 16px;
}

@media only screen and (max-width: 991px) {
  .mobilePadding {
    padding-left: 0;
  }
  .selectDecimal {
    width: 100%;
  }
}
