.market-types {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.active-market {
  height: 4px;
  width: 100%;
  background: var(--global-color-table-header-tertiary);
}

.market-type {
  margin: 0 10px;
}

.swiper-slide {
  width: auto !important;
}

.sport-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sport-header {
  margin: 16px 16px 0;
}

.sport-content .skeleton-component-header {
  margin-bottom: 16px;
}

.sport-container .empty-state {
  min-height: 400px !important;
}

.competition-name {
  padding-left: 16px;
}

.competitions-select {
  height: 34px;
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: var(--global-color-table-text-primary);
  background: var(--global-color-table-grid-background);
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
}

.competitions-select_name {
  padding: 19px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: #25292d;
  color: var(--global-color-main-text_primary);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  border-bottom: 1px solid #414851;
}

.competitions-select_item {
  padding: 19px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: #25292d;
  color: var(--global-color-main-text_primary);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  border-bottom: 1px solid #414851;
}

.competitions-select_item-active {
  padding: 19px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: var(--global-color-main-text_primary);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  border-bottom: 1px solid #414851;
  background: var(--global-color-main-background_primary);
  color: var(--global-color-main-text_primary);
}

.search_wrapper {
  display: flex !important;
  align-items: center !important;
  width: 100%;
}

.competitions_search {
  margin-left: 19px;
  text-indent: 0;
  background: transparent;
  border: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--global-color-table-text-secondary);
  padding-right: 1rem;
  text-align: start;
  width: 100%;
}

.competitions_search::placeholder {
  font-size: 14px;
}

.competitions-select:not(.opened) {
  margin-bottom: 0;
}

.competitions-select.markets-select:not(.opened) {
  margin-bottom: 24px;
}

.select-competition-container {
  max-width: 310px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  position: relative;
}

.competitions-options {
  width: 100%;
  max-height: 154px;
  overflow: auto;
  background: var(--global-color-table-header-tertiary);
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 9;
  max-width: 310px;
  filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 0.5));
}

.competitions-select span {
  word-break: break-word;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.sport-name {
  line-height: 16px;
  display: flex;
  align-items: center;
  color: var(--global-color-table-text-primary);
  text-transform: capitalize;
  font-style: normal;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.competition-option,
.competition-no-option {
  position: absolute;
  padding: 9px 24px;
  font-size: 14px;
  font-weight: 400px;
}

.competition-option {
  cursor: pointer;
}

.competition-option:hover {
  background: var(--global-color-main-background_primary);
}

.closeSidebarButton2 {
  left: 50px;
}

.openSidebarButton {
  margin-left: 4px;
}

.valueOfBets:hover {
  background: var(--global-color-main-background_primary);
  color: var(--global-color-main-text_primary);
  cursor: pointer;
}

.markets-container .empty-state {
  min-height: 400px;
}

.browser-chrome {
  margin-left: 0px;
}

.browser-chrome2 {
  left: 60px;
}

.browser-safari2 {
  left: 60px;
}

.browser-firefox {
  margin-left: 0px;
}

.browser-safari {
  margin-left: 0px;
}

#autocomplete-competition:placeholder-shown {
  cursor: pointer;
}

#autocomplete-competition::placeholder,
#autocomplete-competitionInPlay::placeholder {
  color: var(--global-color-table-text-primary) !important;
  opacity: 1;
  font-size: 14px;
}

#autocomplete-market::placeholder,
#autocomplete-marketInPlay::placeholder {
  color: var(--global-color-table-text-primary) !important;
  opacity: 1;
  font-size: 14px;
}

.autoCompleteMultipleInRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 12px 10px;
}

.selectCompetition {
  width: 40% !important;
  max-width: none !important;
}

.timeCompetition {
  width: 20% !important;
}

.regionCompetiton {
  width: 20% !important;
}

.countryCompetition {
  width: 20% !important;
}

.sportNavigation-header .sports-match-details-skeleton-container {
  padding: 0;
}

.market-filter-container {
  padding: 10px 12px;
}

.region-select-filter {
  border-radius: 4px;
  height: 30px;
  padding: 0 10px;
}

.region-select-filter .dropdown-toggler,
.region-select-filter .dropdown-list .dropdown-button {
  white-space: nowrap;
}

.region-select-filter .dropdown-list {
  right: auto;
  left: -10px;
  top: calc(100% + 5px);
}

@media screen and (max-width: 1024px) {
  .sport-name {
    margin-top: 4px;
  }

  .sport-content {
    background-color: var(--global-color-table-header-secondary);
  }

  .sport-header {
    padding: 12px;
    margin: 0;
    border-bottom: 1px solid #414851;
  }

  .autoCompleteMultipleInRow {
    grid-template-columns: 1fr;
    padding: 0 0 10px;
  }

  .sport-events-filter {
    margin-bottom: 16px;
  }

  .sport-container .empty-state {
    flex: 1 1;
  }

  .sportNavigation-header .sport-competitions-head.mobile {
    padding-block: 10px;
    flex-direction: row;
    align-items: center;
    padding-right: 12px;
  }

  .dashedLine {
    position: relative;
    margin-top: 6px;
    height: 1px;
  }

  .sportNavigation-header .sport-competitions {
    margin-bottom: 6px;
  }

  .navigation-selects,
  .navigationBtns {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding-inline: 12px;
  }

  .navigation-selects .competitions-select span {
    font-size: 12px;
    font-weight: 500;
  }

  .navigationBtns {
    padding-bottom: 12px;
    border-bottom: 1px solid #414851;
  }

  .navigationBtns button {
    background-color: #353a40;
    color: #c59e43;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    height: 36px;
  }

  .navigationBtns .btnPrimary {
    color: #fff;
  }

  .navigationBack {
    margin-left: 12px;
  }

  .navigationBack span,
  .race-date {
    font-size: 12px !important;
    font-weight: 500 !important;
  }

  .competitions-select_item {
    padding: 0 24px;
    height: 52px;
    display: flex;
    align-items: center;
  }

  .competitions-select_name {
    background-color: var(--global-color-table-header-primary);
    border-top: 1px solid var(--global-color-table-grid-background);
  }

  .competitions-select_title {
    background-color: var(--global-color-table-header-secondary);
    border-top: 0;
  }

  .sport-container .sport-competitions {
    margin: 0;
  }

  .container-match-details-paragraph {
    display: flex;
    justify-content: space-between;
    border-radius: 6px 6px 0px 0px;
    align-items: center;
    height: 40px;
  }

  .competitions-select.markets-select:not(.opened) {
    margin-bottom: 10px;
  }

  .sportsMatchesContainer {
    padding: 18px;
  }

  .horse-sport-competitions {
    padding: 16px;
    background-color: var(--global-color-table-header-secondary);
  }

  .horse-sport-competitions .sport-competitions-head {
    border: none;
  }

  .select-competition-container {
    max-width: 100%;
    margin-bottom: 0;
  }

  .competitions-options {
    max-width: 100%;
    height: 100%;
    filter: none;
  }

  .competitions-options {
    width: 100%;
    height: calc(100vh - 92px);
    max-height: 100vh;
    position: relative;
    z-index: 10;
  }

  .competitions-options.markets-options {
    height: calc(100vh - 260px);
  }

  .competition-option {
    padding: 10.5px 24px;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
  }

  .markets-select {
    margin-bottom: 16px;
  }

  .tab-select-container {
    padding: 12px;
    border-bottom: 1px solid var(--global-color-table-grid-background);
    border-top: 1px solid var(--global-color-table-grid-background);
  }

  .competitions-select {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    font-style: normal;
    font-weight: 400;
    padding: 10px 17px 10px 14px;
  }

  .competitions-select.opened {
    border-radius: 15px 15px 0 0;
    padding: 9px 24px;
  }

  .competitions-options.opened {
    border-radius: 0;
    margin: 0;
  }

  .markets-select.opened {
    margin-bottom: 0;
  }

  .main-article-static {
    position: fixed;
    top: 56px;
    width: 100%;
  }
}
