.customer-service-notice-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-service-notice {
  position: relative;
  top: -10%;
  max-width: 660px;
  padding: 20px;
  width: 100%;
  text-align: center;
  color: var(--global-color-main-text_primary);
}

.customer-service-notice-logo {
  margin: 0 auto 40px auto;
  max-width: 440px;
  max-height: 100%;
}

.customer-service-notice-title {
  margin-bottom: 24px;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.customer-service-notice-subtitle {
  font-weight: 600;
}

.customer-service-notice-description {
  margin: 0;
  font-size: 12px;
  margin-top: 16px;
}

.customer-service-notice-email {
  font-size: 14px;
  color: var(--global-color-main-text_secondary);
}

@media (max-width: 1024px) {
  .customer-service-notice {
    max-height: 100%;
    overflow: auto;
  }

  .customer-service-notice-logo {
    width: 100%;
    max-height: 54px;
    object-fit: contain;
  }
}
