.backgroundImage {
  background-image: linear-gradient(
      0deg,
      rgba(37, 40, 44, 0.41),
      rgba(37, 40, 44, 0.41)
    ),
    url("../../assets/images/loginBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

.photo_buttons {
  text-align: start;

  margin: auto;
  margin-bottom: 1.5rem;
}
.kycDiv {
  margin: auto;
  width: 100%;
  max-width: 383px;
  margin-top: 2rem;
}
