.bet-slip-container {
  background: var(--global-color-betslip-background);
  border: 1px solid var(--global-color-betslip-border);
  color: var(--global-color-betslip-text-tertiary);
  position: fixed;
  width: 305px;
  height: calc(100% - 74px);
  overflow: auto;
  transition: 0.5s;
  right: 0;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
}

.bet-slip-container.noVerified {
  height: calc(100% - 108px);
}

.approvedBetslip {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 28px;
  width: 100%;
  padding: 6px 12px;
  background-color: var(--global-color-price-secondary);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}

.offer-timer {
  display: flex;
  background-color: var(--global-color-price-primary);
}

.offer-icon {
  padding: 13px;
}

.offer-message {
  padding: 8px 0;
  font-size: 12px;
}

.bet-slip-content {
  padding: 2px;
}

.bet-slip-content > :not(:last-child) {
  margin-bottom: 2px;
}

.bet-slip-container ~ .content {
  margin-right: 305px;
}

.selected-bets {
  overflow: auto;
}

.selected-bets > :not(:last-child) {
  margin-bottom: 2px;
}

.ContainerOfMultipleBets {
  display: flex;
}

.ContainerOfMultipleBets > div > svg {
  width: 15px !important;
  height: 15px !important;
}

.place-bet-container {
  border-radius: 0 0 6px 6px;
  overflow: hidden;
}

.slip-bets-title {
  background: var(--global-color-betslip-header);
  display: flex;
  gap: 2px;
  justify-content: center;
  text-transform: uppercase;
  height: 35px;
  align-items: center;
  margin-bottom: 2px;
}

.betsStyle {
  color: var(--global-color-betslip-text-primary);
  line-height: 18px;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 600;
  align-items: center;
}

.bet-slip-description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: var(--global-color-betslip-selector);
  color: var(--global-color-betslip-text-secondary);
  font-size: 14px;
}

.bet-slip-description.active {
  color: var(--global-color-betslip-text-primary);
  background: var(--global-color-betslip-selector-active);
}

.my-bets-container {
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
  height: 35px;
}

.my-bets-hint {
  padding: 6px 12px;
  background-color: var(--global-color-shade6);
  color: var(--global-color-text-secondary);
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 2px;
}

.my-bets > :not(:last-child) {
  margin-bottom: 2px;
}

.buttons-of-bets {
  width: 100%;
  background: var(--global-color-background-secondary);
  color: var(--global-color-text-primary);
  font-size: 12px;
  padding: 12px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--global-color-shade7) !important;
}

.selected-myBets {
  color: var(--global-color-text-primary);
  background-color: var(--global-color-shade7);
}

.empty-slip {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding: 35px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.empty-slip-text {
  max-width: 220px;
}

.empty-slip-text.mb {
  margin-bottom: 15px;
}

.empty-slip-text.mt {
  margin-top: 15px;
}

.remove-all-bets {
  background: var(--global-color-betslip-shade-primary);
  padding: 9px 13px;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
}

.remove-text {
  color: var(--global-color-betslip-text-primary);
  margin-left: 7px;
  display: inline-block;
  height: 15px;
  font-size: 14px;
  line-height: 18px;
}

.selected-bet-container {
  background: var(--global-color-betslip-selector);
  padding: 12px;
}

.selectMultipleBets {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
}

.infoIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.selectMultipleBets.eachWay {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.selectMultipleBets .selected-bet-body {
  padding-left: 0;
  margin-left: 20px;
  max-width: 125px;
  width: 100%;
}

.selectMultipleBets.eachWay .selected-bet-body {
  padding-left: 0;
  margin-left: 20px;
  max-width: unset;
  width: auto;
}

.selected-market-selection {
  margin-left: 5px;
}

.selected-bet-body {
  padding-left: 20px;
}

.selected-market {
  display: block;
  color: var(--global-color-betslip-text-quaternary);
  font-size: 14px;
}

.selected-match {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 8px;
}

.containerOfMultiBets {
  border-left: 3px solid var(--global-color-primary);
  background: var(--global-color-shade3);
}

.slip-input {
  background: var(--global-color-text-primary);
  border-radius: 2px 0 0 2px;
  border: none;
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.slip-input::placeholder {
  font-size: 14px;
  line-height: 14px;
}

.styleOfReturnValues {
  width: 88px;
}

.selected-bet-title {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selected-bet-bog {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 20px;
  border-radius: 2px;
  background-color: var(--global-color-primary);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}

.bet-amount-container {
  position: relative;
  display: flex;
  border-radius: 2px;
  overflow: hidden;
  justify-content: space-between;
  height: 35px;
}

.showOrHideMultiples {
  text-align: center;
  height: 24px;
  background-color: var(--global-color-shade6);
  margin-top: 2px;
  cursor: pointer;
}

.showOrHideTextOfMultiples {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin-right: 9px;
}

.racing-bet-odds {
  background: var(--global-color-price-quinary);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  color: var(--global-color-shade6);
}

.starting-price-arrows {
  margin-left: 5px;
}

.slip-amount {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 8px;
  gap: 70px;
}

.optional-values {
  display: flex;
}

.optional-value {
  background: #a59a81;
  border-radius: 2px;
  margin-right: 4px;
  padding: 2px 4px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: var(--global-color-shade6);
}

.styleOfReturnValues {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.styleOfReturnedValuesInline {
  width: 120px;
  text-align: right;
}

.totals-container {
  padding: 6px 16px;
  background: var(--global-color-betslip-shade-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.amount {
  font-weight: 600;
  color: var(--global-color-betslip-text-quinary);
}

.stakes {
  color: var(--global-color-betslip-text-quinary);
}

.btnPrimary.place-bet-button {
  border-radius: 0px 0px 6px 6px;
  width: 100%;
  height: 50px;
  color: var(--global-color-text-primary);
  font-size: 14px;
}

.place-bet-button:disabled {
  background: var(--global-color-shade4);
}

.bet-holder {
  background-color: var(--global-color-background-secondary);
  padding: 2px;
}

.default-odds {
  background-color: transparent;
  padding: 0;
  min-width: unset;
}

.totalsWrapper .warning {
  background-color: var(--global-color-betslip-shade-tertiary);
}

.place-bet-container .btnAction {
  background: var(--global-color-betslip-shade-quaternary);
}

@media (max-width: 1024px) {
  .slips-bets-title-container {
    padding: 9px 13px;
  }

  .betslip-add {
    width: 100% !important;
    height: 100% !important;
  }

  .bet-slip-container {
    top: 0;
    width: 100%;
    z-index: 10002;
    height: 100%;
    overflow: hidden;
    padding: 0;
  }

  .place-bet-button {
    border-radius: 0;
  }

  .slip-bets-title {
    justify-content: space-between;
    align-items: center;
  }

  .betsClose {
    margin-left: auto;
  }

  .slip-input {
    width: 100%;
  }
}

.numberOfBetsStyle {
  color: var(--global-color-shade6);
  background-color: #fff;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 10px;
}

.betslip-add {
  position: relative;
  height: 305px;
  width: 301px;
  margin-bottom: 4px;
  border-radius: 6px;
  overflow: hidden;
}

.betslip-add img {
  height: 100%;
  width: 100%;
  border-radius: 6px;
}

.dynamic-betslip {
  position: absolute;
  width: 100%;
  bottom: 25px;
  padding: 0 20px;
}

.btnsGroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin-top: 2px;
}

.balanceNotification {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  background-color: var(--global-color-price-quaternary);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 12px;
}

.depositLink {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #fdc500;
}

.totalsWrapper {
  position: sticky;
  bottom: 0;
  background-color: var(--global-color-betslip-background);
}

.totalsWrapper > :not(:last-child) {
  margin-bottom: 2px;
}

.remove-bet {
  cursor: pointer;
  display: flex;
}

@media (max-width: 1400px) {
  .bet-slip-container ~ .content {
    margin-right: 0;
  }
}

@media (max-width: 1024px) {
  #bet-holder {
    display: grid;
    grid-template-columns: 1fr;
  }

  .betslip-add {
    width: 100%;
  }

  .selected-bet-body {
    justify-self: flex-end;
  }

  .slips-bets-title-container {
    padding: 9px 13px;
  }

  .bet-slip-container {
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 10002;
    height: 100%;
    padding: 0;
  }

  .place-bet-button {
    border-radius: 0;
  }

  .slip-bets-title {
    justify-content: space-between;
    align-items: center;
  }

  .betsClose {
    margin-left: auto;
  }

  .slip-input {
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .bet-slip-container {
    background-color: rgba(31, 31, 32, 0.5);
  }
  .sidebar-right {
    max-width: 305px;
    width: 100%;
    background: var(--global-color-betslip-background);
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
@media (max-width: 600px) {
  #bet-holder {
    display: grid;
    grid-template-columns: 1fr;
  }

  .slip-input {
    font-size: 16px;
  }

  .bet-holder {
    overflow-y: auto;
  }

  .bet-slip-container {
    overflow: auto !important;
  }
}
