.nameLabels {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: var(--global-color-label_title);
  text-indent: 10px;
}

.signUpCalendar {
  margin-bottom: 8px;
}

.signUpWrapper {
  max-width: 384px;
}

.signUpModal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--global-color-main-background_secondary);
  inset: 0;
  z-index: 2;
}

.signUpModalClose {
  text-align: end;
  margin: 10px 24px 0 0;
}

.Modal-Portal .datepicker-modal {
  background-color: var(--global-color-main-background_secondary);
  height: 340px;
  top: 64px;
}

.datepicker-modal .datepicker.default {
  background-color: transparent;
}

.datepicker.default .datepicker-content {
  padding: 0 24px;
  gap: 24px;
}

.datepicker-modal .datepicker.default .datepicker-header {
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  color: #fff;
  text-align: start;
  min-height: auto;
  margin-bottom: 100px;
}

.datepicker.default .datepicker-content .datepicker-wheel {
  border-top: 1px solid #c59e43;
  border-bottom: 1px solid #c59e43;
}

.datepicker.default .datepicker-content .datepicker-scroll li {
  color: #fff;
  padding: 0;
  font-size: 20px;
}

.calendarConfirm {
  height: 48px;
  width: calc(100% - 48px);
  position: absolute;
  bottom: 30px;
  margin-inline: 24px;
}

.calendarInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendarInput > span {
  font-size: 16px;
  color: var(--global-color-button-text_inactive);
}

.login-buttons.calendarButton {
  padding-inline: 16px;
  margin-bottom: 0;
}

.modalTitle {
  position: relative;
}

.modalTitle-countries {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 100px;
}

.modalTitle-countries .closeDiv {
  padding-top: 10px;
}

.modalTitle-countries > .selectCountryTitle {
  width: 100%;
  margin-block: 0 30px;
}

.residenceInput {
  position: relative;
}

.residenceArrow {
  position: absolute;
  transform: rotate(180deg) translateY(50%);
  top: 50%;
  right: 16px;
}

.residenceArrow2 {
  rotate: 180deg;
}

.country {
  padding-left: 10px;
}

.countryName {
  display: flex;
  align-items: center;
  color: var(--global-color-label-text_active);
}

.phonePrefixName {
  margin: 0 10px;
  color: var(--global-color-label-text_active);
  line-height: 100%;
}

.phoneLabel {
  line-height: 26px;
}

.modal-content-inside {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 0;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.modal-content-inside::-webkit-scrollbar {
  display: none;
}

.selectCountryTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  justify-content: flex-start;
  text-align: start;
}

.closeFullScreenModal {
  right: 0;
  top: 32px;
}

.countriesFlags {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
}

.countriesFlags2 {
  margin-left: 0.7rem;
}

.countriesSearch {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.7rem;
}

.modal-content.fScreen {
  background: linear-gradient(180deg, #34393f -4.99%, #000000 135.26%);
  overflow: hidden;
}

.searchField {
  width: 100%;
  background: var(--global-color-label-background);
  border: none;
  outline: none;
}

.searchField::placeholder {
  color: var(--global-color-label-text_active);
}

textarea:focus,
input:focus {
  outline: none;
}

button:focus,
input:focus {
  outline: none;
}

.changePasswordButton {
  width: 100%;
}

.termsPolicy {
  display: flex;
  align-items: flex-start;
  max-width: 384px;
  width: 100%;
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 24px;
  color: var(--global-color-main-text_primary);
}

.checkbox {
  position: relative;
  min-width: 16px;
  height: 16px;
  border: 1px solid var(--global-color-main-icon_primary);
  margin: 4px 12px 0 0;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.termsPolicyLink {
  font-weight: 600;
  color: var(--global-color-main-text_secondary);
  margin-inline: 4px;
  font-size: 14px;
  line-height: 16px;
}

.authButtonsContainer .loginbuttons1 {
  margin: 0;
}

.outline {
  border: 1px solid var(--global-color-gold-button);
}

/* Hide arrows of number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="tel"] {
  -moz-appearance: textfield;
  text-indent: unset;
  text-align: center;
}

.labelStyle {
  color: var(--global-color-main-text_primary);
  height: 13px;
  width: 272px;
  line-height: 17.29px;
  font-size: 14px;
}

.HeaderStyle {
  margin-bottom: 32px;
  margin-top: 100px;
}

input.inputForPhone {
  width: 100%;
  height: 50px;
  font-size: 16px;
  text-align: left;
  margin-bottom: 0px;
}

.buttondesignforphone {
  width: 114px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--global-color-background-quaternary);
  border: none;
  margin-right: 12px;
}

.collectionOfInput {
  display: flex;
  align-items: center;
  justify-content: center;
}

.collectionOfInput2 {
  justify-content: left;
}

.codeSend2 {
  font-size: 14px;
  line-height: 21px;
  margin-top: 24px;
  margin-bottom: 40px;
  max-width: 384px;
  color: var(--global-color-main-text_primary);
}

.buttontoresendcode {
  background-color: transparent;
  color: var(--global-color-main-text_primary);
  border: none;
  border-bottom: 1px solid var(--global-color-main-text_primary);
  padding-left: 0;
  height: 20px;
}

.codeBtn {
  margin-top: 50px;
}

.codeSend3 {
  font-size: 14px;
  line-height: 18px;
  margin-top: 32px;
  margin-bottom: 40px;
  max-width: 384px;
  color: var(--global-color-main-text_primary);
}

input:-webkit-autofill-selected {
  border: 4px solid var(--global-color-background-quaternary);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  border: 10px solid var(--global-color-background-quaternary);
  text-indent: unset;
  background-color: var(--global-color-background-quaternary) !important;
  -webkit-text-fill-color: var(--global-color-label-text_active) !important;
  color: var(--global-color-label-text_active) !important;
}

.selectDecimal-countries {
  background: var(--global-color-label-background);
  border-radius: 10px;
  border: none;
  position: relative;
  cursor: pointer;
  width: auto;
  width: 100%;
  border: 1.5px solid transparent;
  align-items: center;
}

.couldntFind {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 30px;
  text-align: center;
  padding-top: 50px;
  color: var(--global-color-main-text_primary);
}

.countryModalDecimalText {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--global-color-label-text_active);
  margin: 0;
}

.finishAccountSetup .logInTitle {
  margin-bottom: 6px;
}

.finishAccountSetup .codeSend2 {
  margin-bottom: 30px;
}

.signUpForm .codeSend2 {
  margin-block: 30px 48px;
}

.finishSetupInfo {
  border: none;
  font-weight: 600;
  font-size: 14px;
  text-align: left;
  margin-bottom: 10px;
  color: var(--global-color-main-text_primary);
}

.finishAccountLoader {
  position: absolute;
  top: 40%;
  left: 50%;
}

.countriesModalContainer.fScreen {
  background: none;
  background-color: var(--global-color-main-background_secondary);
  padding: 0 24px 24px !important;
}

.modalHead-countries {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.modalHeader-fixed {
  display: none;
}

.selectDecimal-countries.selectedOdd {
  border: 1.5px solid var(--global-color-label-stroke);
}

.finishAccLine {
  display: flex;
  width: 100%;
  margin-top: 16px;
  height: 1px;
}

@media (min-width: 1024px) {
  .signUpPhoneForm {
    max-width: 384px;
  }
}

@media (min-width: 576px) {
  .modal.show .countriesModalDialog {
    transform: translateY(0);
  }
}

@media (min-width: 576px) {
  .countriesModalDialog {
    max-width: unset !important;
  }
}

.countriesModalDialog {
  padding-top: unset !important;
}

@media (max-width: 480px) {
  .inputForPhone {
    width: 200px !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 1024px) {
  .selectCountryTitle {
    font-size: 34px;
    width: 100%;
    margin: auto;
  }

  .signUpWrapper {
    max-width: 100%;
  }

  .selectDecimal-countries {
    width: 100%;
  }

  .searchField {
    font-size: 16px;
  }

  .authButtonsContainer {
    width: 100%;
    padding-bottom: 14px;
  }

  .authButtonsContainer .loginbuttons1 {
    width: 100%;
  }

  .inputForPhone {
    width: 100% !important;
  }

  .signUpForm .codeSend2 {
    margin-top: 24px !important;
  }

  .finishSetupInfo {
    font-size: 12px;
    margin-bottom: 0;
  }

  .codeSend3 {
    margin: 0;
    max-width: none;
  }

  .codeSend2 {
    max-width: none;
  }

  .finishAccountSetup .codeSend2 {
    margin-block: 30px 60px;
  }

  .signUpModal > .loginForm {
    padding-top: 10px;
    justify-content: flex-start;
    gap: 30px;
  }

  .modalTitle-countries {
    /* flex-direction: column-reverse; */
    margin: 0;
    padding-top: 10px;
  }

  .modalHeader-fixed {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background: linear-gradient(
      180deg,
      #2b2e32 82.27%,
      #2b2e32 89.94%,
      rgba(43, 46, 50, 0.94) 95.57%,
      #2b2e32 100%
    );
    padding: 0 24px 12px;
    width: 100%;
    gap: 10px;
  }

  .modalTitle-fixed {
    display: flex;
    height: 42px;
    align-items: center;
  }

  .modalTitle-fixed .selectCountryTitle {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin: 0;
  }

  .modalHeader-fixed .selectDecimal-countries {
    margin: 0;
  }

  .isSticky .modalHead-countries {
    height: 42px;
    align-items: center;
  }

  .isSticky + div {
    margin-top: 190px;
  }

  .modalTitle-countries > .selectCountryTitle {
    margin: 30px 0;
  }

  .calendarInput > span {
    font-size: 14px;
  }

  .termsPolicy {
    max-width: none;
    margin-block: 24px 40px;
  }
}
