.nameLabels {
  font-family: var(--global-font-regular);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--global-color-text-primary);
  text-indent: 10px;
  margin-bottom: 0.5rem;
}
.showPasswordIcon.signUp {
  top: 29%;
}
.residenceInput,
.modalTitle-countries {
  position: relative;
}
.residenceArrow {
  position: absolute;
  transform: rotate(180deg);
  top: 30%;
  right: 5%;
}
.residenceArrow2 {
  position: absolute;
  transform: rotate(180deg);
  top: 45%;
  right: 18%;
}
.country {
  padding-left: 10px;
}
.countryName {
  display: flex;
  align-items: center;
}
.phonePrefixName{
  color: var(--global-color-text-primary);
}
.modal-content-inside {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 0;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.modal-content-inside::-webkit-scrollbar {
  display: none;
}
.selectCountryTitle {
  font-family: var(--global-font-black);
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 48px;
  display: flex;
  justify-content: flex-start;
  text-align: start;
  width: 310px;
}
.closeFullScreenModal {
  right: 1%;
  top: 10%;
}
.countriesFlags {
  margin-top: 0.8rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
}
.countriesFlags2 {
  margin-top: 0.4rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
}
.countriesSearch {
  margin-top: 0.875rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.7rem;
}

.modal-content.fScreen {
  background: linear-gradient(180deg, #34393f -4.99%, #000000 135.26%);
  overflow: hidden;
}

.searchField {
  width: 100%;
  background: #34393f;
  border: none;
  outline: none;
}
textarea:focus,
input:focus {
  outline: none;
}
button:focus,
input:focus {
  outline: none;
}
.codeSent {
  font-family: var(--global-font-regular);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--global-color-text-primary);
  width: 100%;
  max-width: 383px;
}
.outline {
  border: 1px solid var(--global-color-gold-button);
}
.codeInput {
  width: 4.6rem !important;
  font-family: var(--global-font-black);
  margin-bottom: 25px;
  height: 4.6rem;
  color: white;
  background: var(--global-color-secondary);
  font-size: 2.5rem;
  border: 2px solid var(--global-color-secondary);
  box-sizing: border-box;
  border-radius: 10px;
}

.codeVerification {
  position: relative;
  width: 100%;
  max-width: 383px;
}

.codeVerification > div{
  display: flex !important;
  justify-content: space-between !important;
}
/* Hide arrows of number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="tel"] {
  -moz-appearance: textfield;
  text-indent: unset;
  text-align: center;
}
.labelStyle {
  color: var(--global-color-text-primary);
  height: 13px;
  width: 272px;
  line-height: 17.29px;
  font-size: 14px;
}
.HeaderStyle {
  margin-bottom: 32px;
  margin-top: 100px;
}
.inputForPhone {
  width: 257px;
  height: 48px;
  font-size: 14px;
  text-align: left;
  margin-bottom: 0px;
}
.buttondesignforphone {
  width: 114px;
  height: 48px;
  border-radius: 10px;
  background-color: var(--global-color-secondary);
  border: none;
  margin-right: 12px;
}
.collectionOfInput {
  display: flex;
  align-items: center;
  justify-content: center;
}

.collectionOfInput2 {
  justify-content: left;
}
.codeSend2 {
  font-size: 14px;
  line-height: 21px;
  margin-top: 24px;
  margin-bottom: 40px;
}
.buttontoresendcode {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  padding-left: 0;
  height: 20px;
}
.codeBtn {
  margin-top: 50px;
}
.codeSend3 {
  font-size: 14px;
  line-height: 18px;
  margin-top: 32px;
  margin-bottom: 40px;
  color: #fafafa;
}
input:-webkit-autofill-selected {
  border: 4px solid var(--global-color-secondary);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  border: 10px solid var(--global-color-secondary);
  text-indent: unset;
  background-color: var(--global-color-secondary) !important;
}
.login-buttons {
  color: #bcbfc2;
}

.selectDecimal-countries {
  background: var(--global-color-secondary);
  border-radius: 10px;
  border: none;
  position: relative;
  cursor: pointer;
  width: auto;
  width: 100%;
  border: 1.5px solid transparent;
}

.Toastify__toast-body > div:last-child{
  padding: 15px;
}

@media (min-width: 576px){
  .countriesModalDialog {
    max-width: unset !important;
  }
}
.countriesModalDialog {
  padding-top: unset !important;
}

@media (max-width: 480px) {
  .GridStyleForPhone {
    display: block !important;
  }
  .inputForPhone {
    width: 200px !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 991px){
  .selectCountryTitle {
    font-size: 30px;
    width: 250px;
}
.selectDecimal-countries {
  width: 100%;
}
}