.custom-accordion {
  width: 100%;
}

.custom-accordion-header {
  padding: 7px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--global-color-betslip-header);
  color: var(--global-color-text-primary);
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  min-height: 32px;
}

.custom-accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.dropdown-arrow {
  transition: 0.3s ease;
  transform: rotate(180deg);
}

.dropdown-arrow.active {
  transform: rotate(0deg);
}
